<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <div class="main-title cf">
        <h2>
            新增新闻
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">内容</a></li>
        </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('update')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">
            <div class="form-item cf">
                    <label class="item-label">标题</label>
                    <div class="controls">
                        <input type="text" value="" name="title" class="text input-large">
                    </div>
            </div>




                        <div class="form-item cf">
            <label class="item-label">内容<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="content" style="display: none;"></textarea>
            <input type="hidden" value="0" name="parse">
            <link href="/Public/static/kindeditor/default/default.css" rel="stylesheet">
            <script src="/Public/static/kindeditor/kindeditor-min.js" charset="utf-8"></script>
            <script src="/Public/static/kindeditor/zh_CN.js" charset="utf-8"></script>
            <script type="text/javascript">
                  var editor_content;
                KindEditor.ready(function(K) {
                    editor_content = K.create('textarea[name="content"]', {
                        allowFileManager : false,
                        themesPath: K.basePath,
                        width: '100%',
                        height: '1000px',
                        resizeType: 1,
                        pasteType : 2,
                        urlType : 'absolute',
                        fileManagerJson : '{:U('fileManagerJson')}',
                        uploadJson : '{:addons_url("EditorForAdmin://Upload/ke_upimg")}',
                        extraFileUploadParams: {
                             session_id : '{:session_id()}'
                        }
                    });
                });

                $(function(){
                    //传统表单提交同步
                    $('textarea[name="content"]').closest('form').submit(function(){
                        editor_content.sync();
                    });
                    //ajax提交之前同步
                    $('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
                        editor_content.sync();
                    });
                })
            </script>
                    </label>
                </div>
            </div>



               <div class="form-item cf">
                    <label class="item-label">排序<span class="check-tips">数字越大越前，默认按发布时间倒序</span></label>
                    <div class="controls">
                        <input type="text" value="" name="level" class="text input-large">                    </div>
                </div>


            <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="radio">
                                <input type="radio" name="status" value="1" checked>启用
                        </label>
                        <label class="radio">
                                <input type="radio" name="status" value="0">停用
                        </label>
                    </div>
            </div>

     </div>
       <!-- tab-1 end -->

        <div class="form-item cf">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
            <a href="{:U('policy/index')}" class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
//时间显示时分秒
$('.time').datetimepicker({
    language:  'zh-CN',
    format: 'yyyy-mm-dd',
    todayBtn:  1,
    autoclose: 1,
    minView:"month",//分钟间隔1分钟
});
    showTab();
});
</script>
</block>
