<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <div class="main-title cf">
        <h2>
            编辑
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">内容</a></li>
        </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('update')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">

          <div class="form-item cf">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="title" style=""><?= $data['title'] ?></textarea>
            </label>
                </div>
            </div>


                   <div class="form-item cf">
            <label class="item-label">关键字<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="keywords" style=""><?= $data['keywords'] ?></textarea>
            </label>
                </div>
            </div>

            <div class="form-item cf">
            <label class="item-label">描述<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="description" style=""><?= $data['description'] ?></textarea>
            </label>
                </div>
            </div>


     </div>
       <!-- tab-1 end -->

        <div class="form-item cf">
        <input type="hidden" name="id" value="<?= $data['id'] ?>">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
            <a href="{:U('seo/index')}" class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
//时间显示时分秒
$('.time').datetimepicker({
    language:  'zh-CN',
    format: 'yyyy-mm-dd hh:ii:ss',
    todayBtn:  1,
    autoclose: 1,
    minView:0,  //0表示可以选择小时、分钟   1只可以选择小时
    minuteStep:1,//分钟间隔1分钟
});
    showTab();
});
</script>
</block>
