 <style>

html {margin:0;padding:0;}
body {margin:0;padding:5px;}
body, td {font:12px/1.5 "sans serif",tahoma,verdana,helvetica;}
body, p, div {word-wrap: break-word;}
p {margin:5px 0;}
table {border-collapse:collapse;}
img {border:0;}
noscript {display:none;}
/*table.ke-zeroborder td {border:1px dotted #AAA;}*/
img.ke-flash {
	border:1px solid #AAA;
	background-image:url(http://www.xuanblue.com/Public/static/kindeditor/common/flash.gif);
	background-position:center center;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
}
img.ke-rm {
	border:1px solid #AAA;
	background-image:url(http://www.xuanblue.com/Public/static/kindeditor/common/rm.gif);
	background-position:center center;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
}
img.ke-media {
	border:1px solid #AAA;
	background-image:url(http://www.xuanblue.com/Public/static/kindeditor/common/media.gif);
	background-position:center center;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
}
img.ke-anchor {
	border:1px dashed #666;
	width:16px;
	height:16px;
}
.ke-script, .ke-noscript, .ke-display-none {
	display:none;
	font-size:0;
	width:0;
	height:0;
}
.ke-pagebreak {
	border:1px dotted #AAA;
	font-size:0;
	height:2px;
}





.title {
  font-size: 20px;
  color: #333;
  line-height: 78px;
  text-align: center;
}

.table-list {
  border: 1px solid #e8e8e8;
  text-align: left;
}
.table-list table {
  font-size: 14px;
  color: #555;
  table-layout: fixed;
  width: 100%;
}
.table-list table tr {
  border-top: 1px solid #e8e8e8;
}
.table-list table tr:first-child {
  border-top: 0;
}
.table-list table tr th {
  width: 210px;
  padding: 7px 20px;
  line-height: 21px;
  background-color: #f3f3f3;
  font-weight: normal;
  text-align: left;
}
.table-list table tr td {
  padding: 7px 20px;
  line-height: 21px;
}
.table-list table tr td.border-left {
  border-left: 1px solid #e8e8e8;
}

</style>

 <?= $data['desc'] ?>