<include file="Public/head" title="{$data.name}-{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link href="__CSS__/swiper.min.css" rel="stylesheet">
<script src="__JS__/swiper.min.js"></script>
<style type="text/css">
.layui-layer-btn a{font-size:0.5em;}
</style>
<link href="/Public/static/kindeditor/default/default.css" rel="stylesheet">
<style type="text/css">
/*图片放大镜样式*/
.pro-detail-page .pro-content .pro-pic .big-pic{position: static;}
.zoomdiv img{width: auto!important;}
.jqzoom{border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;display:block;text-align:center;overflow:hidden;background:#fff;margin-top: -30px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
.layui-layer-btn .layui-layer-btn0{    border-color: #489e87; background-color: #489e87;}


table.ke-zeroborder td{vertical-align:middle;}
table.ke-zeroborder td {border:1px dotted #AAA;}
table img.ke-flash {
  border:1px solid #AAA;
  background-image:url(/Public/static/kindeditor/common/flash.gif);
  background-position:center center;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
}
img.ke-rm {
  border:1px solid #AAA;
  background-image:url(/Public/static/kindeditor/common/rm.gif);
  background-position:center center;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
}
img.ke-media {
  border:1px solid #AAA;
  background-image:url(/Public/static/kindeditor/common/media.gif);
  background-position:center center;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
}
img.ke-anchor {
  border:1px dashed #666;
  width:16px;
  height:16px;
}
.ke-script, .ke-noscript, .ke-display-none {
  display:none;
  font-size:0;
  width:0;
  height:0;
}
.ke-pagebreak {
  border:1px dotted #AAA;
  font-size:0;
  height:2px;
}
</style>

    <div class="page-scroll">

      <div class="shop-products-details-page">

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <?php foreach ($data['item_pic'] as  $key=> $value): ?>
               <div class="swiper-slide"><img src="<?= $value['path'] ?>"></div>
            <?php endforeach ?>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="pro-details">
          <div class="bborder">
            <div class="name"><?= $data['name'] ?></div>
  <if condition="!is_login()">
            <div class="price">Bulky Price: <span>$<?= $data['bulky_price'] ?></span></div>
 <else />
            <div class="price-list">
              <ul class="clearfix">
              <?php
              $price = explode(",",$data['price']);
              $price_range = explode(",",$data['price_range']);
              ?>
                <li>
                  <div>Quantity:</div>
                  <div>Intervalprice:</div>
                </li>
                <?php foreach ((array)$price_range as $key => $value): ?>
                <li>
                  <div class="district">  <?= $value ?> </div>
                  <div class="num">  $<?= $price[$key] ?></div>
                </li>
                <?php endforeach ?>
              </ul>
            </div>
</if>
            <div class="star-contain">
              <div class="icon-star-list">
                  <?php
                    for ($i=1; $i <= 5 ; $i++) {
                        if($i<=$data['star']){
                                echo '<i class="icon-star on"></i>';
                        }else{
                                echo '<i class="icon-star"></i>';
                        }
                    }
               ?>
              </div>
              <span><?= $comment_count ?></span> Reviews
            </div>
          </div>
          <div class="bborder">
            <div class="sku">SKU:   <?= $data['sku'] ?></div>
            <div class="sku">NO:   <?= $data['amazon'] ?></div>
            <div class="description">
              <h6>Description:</h6>
              <p><?= $data['description'] ?></p>
            </div>
          </div>

          <div class="color">
            <h6><?= $data['spec'] ?>:  <?= $data['spec_name'] ?></h6>
            <div class="color-list">
              <?php foreach ($spec as $k=> $v): ?>
                  <a href="{:U('detail?id='.$v['id'])}"  class="<?php if ($v['id']===$_GET['id']): ?>cur<?php endif ?> pic"><img src=" <?= get_item_picture($v['id']) ?>"></a>
               <?php endforeach ?>
            </div>
             <input type="hidden" name="spec[]" value="<?= $data['spec'].'-'.$data['spec_name'] ?>">
          </div>

          <div class="quantity">
            Quantity:
            <div class="controller">
              <em class="sub"><i class="icon-global bg-14"></i></em>
              <input type="text" value="1" id="item_num" onafterpaste="this.value=this.value.replace(/\D/g,'')" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="9">
              <em class="add"><i class="icon-global bg-15"></i></em>
            </div>
            Piece
            <span>In stock <?= $data['stock'] ?> Piece</span>
          </div>
          <a class="inquiry-btn btn" href="javascript:;" id="Inquiry">Inquiry</a>
           <input type="hidden" value="<?= is_login() ?>" id="is_login">
          <a class="buy-btn btn" id="buy">Buy</a>
        </div>
        <div class="sell-pop">
          <ul>
             <?php foreach ((array)$buyon as $key => $value): ?>
                      <li>BUY ON <?= $value['name'] ?> <a href="<?= $value['url'] ?>" target="_blank">GO</a></li>
              <?php endforeach ?>
          </ul>
        </div>

        <div class="l">
          <div class="tab-box">
            <div class="tab-list">
              <a href="#Description" class="active">Product description</a>
              <a href="#Packaging">Packaging & Shipping</a>
              <a href="#Review">Review(<?= $comment_count ?>)</a>
              <a href="#Comment">Write a Review</a>
              <a href="#FAQ">FAQ</a>
            </div>
          </div>
          <div class="l-contain">
            <div class="column" id="1">
              <div class="detail">
                  <iframe src="/item/desc.html?id=<?= $data['id'] ?>" name="iframe2" onload="this.height=iframe2.document.body.scrollHeight" width="100%" scrolling="no"></iframe>
              </div>
            </div>

            <div class="column" id="2">
              <div class="detail">
                 <?= $data['packaging_and_shipping'] ?>
              </div>
            </div>

            <div class="column">
              <div class="title">Customer questions & answers</div>
              <div class="questions">
                <div class="quiz"><a href="javascript:;" id="ask">I have to ask a question</a></div>
                <div class="list" id="FAQ">
<?php foreach ($question_list as $key => $value): ?>
                  <dl>
                    <dt>
                      <span>Question:</span>
                      <div class="text">
                        <?= $value['content'] ?>
                      </div>
                    </dt>
                    <dd>
                      <span>Answer:</span>
                      <div class="text">
                        <?= $value['reply'] ?>
                        <div class="time">By <?= $value['username'] ?> Hand on <?= $value['month'] ?> <?= $value['day'] ?>, <?= $value['year'] ?></div>
                      </div>
                    </dd>
                  </dl>
 <?php endforeach ?>

                </div>
                <div class="paging">
                   <?= $_question_page ?>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="title">User Comment</div>
              <div class="comment">
                <dl>
                  <dt>Name: </dt>
                  <dd><input class="e-mail" type="text" id="comment_name" value="Anonymous user" style="width:3rem"></dd>
                </dl>
                <dl>
                  <dt>E-mail: </dt>
                  <dd><input class="e-mail" type="text" id="comment_email" style="width:3rem"></dd>
                </dl>
                <dl>
                  <dt>Rank: </dt>
                  <dd class="star-box">
                    <div class="icon-star-list"  id="comment-star-list">
                      <i class="icon-star on star" ref=0></i>
                      <i class="icon-star on star" ref=1></i>
                      <i class="icon-star on star" ref=2></i>
                      <i class="icon-star on star" ref=3></i>
                      <i class="icon-star on star" ref=4></i>
                    </div>
                  </dd>
                </dl>
                <dl>
                  <dt>Content: </dt>
                  <dd>
                    <textarea maxlength="5000" id="comment_content"></textarea>
                  </dd>
                </dl>
                <dl>
                  <dt>Verification code: </dt>
                  <dd>
                    <br />
                    <div class="code">
                       <input class="code" type="text" maxlength="4" id="comment_code"><a href="javascript:;" class="reloadverify"><img class="code-pic verifyimg" src="{:U('Public/verify')}"></a>
                    </div>
                     <input type="submit" value="Submit" id="commentSubmit">
                  </dd>
                </dl>
              </div>
            </div>
<script type="text/javascript">
$(function(){
      $("#Inquiry").click(function(){
          var spec = '',is_login=$("#is_login").val(),num = $('#item_num').val(),item_id=<?= $data['id'] ?>,url="{:U('Item/orderhanlde')}";
          if(is_login == 0){
                location.href= "{:U('User/login')}?uri={:U('Item/detail')}?id="+item_id;
          }else{
                $('input[name="spec[]"]').each(function(){
                   spec += $(this).val()+'|';
              })
              location.href= url+"?id="+item_id+"&num="+num+'&spec='+spec;
          }
      });

        $("#comment-star-list i").click(function(){
            var ref = $(this).attr('ref');
            $("#comment-star-list i").removeClass("on");
            $("#comment-star-list i").each(function(e,index){
                  if(e<=ref){
                      $(this).addClass('on')
                  }
            })
        })


            $('#commentSubmit').click(function(){
                var data = {};
                data['item_id'] = <?= $data['id']?>;
                 data['name'] =$('#comment_name').val();
                data['email'] =$('#comment_email').val();
                data['content'] =$('#comment_content').val();
                data['code'] =$('#comment_code').val();
                data['star'] = 0 ;
                $("#comment-star-list i").each(function(e,index){
                    if($(this).hasClass('on')){
                        ++data['star'];
                    }
                })
                $.post("{:U('comment')}",data, success, "json");
                return false;
                function success(data){
                      layer.msg(data.info,{anim: 1},function(){
                        if (data.status ==1) {
                           location.reload();
                        }
                  })
                }
            })

})
</script>
            <div class="column">
              <div class="title">Write a Review</div>
              <div class="review">
                <div class="list" id="Review">
  <?php foreach ($comment_list as $key => $value): ?>
                  <div class="item">
                    <div class="star-box">
                      <div class="icon-star-list">
                        <?php
                        for ($i=1; $i <= 5 ; $i++) {
                            if($i<=$value['star']){
                                    echo '<i class="icon-star on"></i>';
                            }else{
                                    echo '<i class="icon-star"></i>';
                            }
                        }
                   ?>
                      </div>
                      <span><?= $value['star'] ?>.0</span>
                    </div>
                    <div class="member">
                      <?= $value['name']  ? $value['name']  : 'Anonymous user' ?> <span><?= $value['create_time'] ?></span>
                    </div>
                    <div class="text"><?= $value['content'] ?></div>
                  </div>
  <?php endforeach ?>

                </div>
                <div class="paging">
                 <?= $_page ?>
                </div>
              </div>
            </div>

          </div>
        </div>

<?php if ($ViewHistoryList ): ?>
        <div class="history">
          <div class="title">View History</div>
          <div class="list">
  <?php foreach ($ViewHistoryList as $key => $value): ?>
            <div class="item"><a href="{:U('detail?id='.$value['id'])}">
              <div class="pic">
                <img src="<?= $value['path']?>">
              </div>
              <div class="name"><?= $value['name'] ?></div>
              <div class="price">
                <span>$<if condition="!is_login()"><?= $value['bulky_price'] ?>
                  <else /><?php $price = explode(",",$value['price']);
                  if(count($price) == 1){
                      echo $price[0];
                  }else{
                      echo end($price).'-'.$price[0];
                  }
                  ?></if></span> /Piece
              </div></a>
            </div>
    <?php endforeach ?>
          </div>
        </div>
  <?php endif ?>
      </div>

  <script>
    var mySwiper = new Swiper('.swiper-container', {
      autoplay: true,//可选选项，自动滑动
      pagination: {
        el: '.swiper-pagination',
      },
      loop: true
    })

    $(function () {
      $('.header .slot-left .bg-1').click(function() {
        $(this).parent().addClass('active')
        $('.header .nav-list-pop').fadeIn()
      })
      $('.header .slot-left .bg-16').click(function() {
        $(this).parent().removeClass('active')
        $('.header .nav-list-pop').fadeOut()
      })

    //商品提问
      $("#ask").click(function(){
            if($("#is_login").val() == 0){
          location.href= "{:U('User/login')}?uri={:U('Item/detail')}?id=<?= $data['id']?>";
          return false;
    }
        layer.prompt({
          title: 'ask a question',
          formType: 2,
          area: ['5rem', '3rem'],
          shadeClose: true,
          maxlength: 500,
          btn: ['Submit']
        }, function(pass, index){
          var data = {};
          data['item_id'] = <?= $data['id']?>;
          data['content'] =pass;
          $.post("{:U('ask')}",data, success, "json");
            return false;
            function success(data){
              layer.msg(data.info,{anim: 1},function(){
                location.reload();
              })
            }
        });
      })

      $('#buy').click(function(){
        layer.open({
          type: 1,
          title: false, //不显示标题
          shadeClose: true,
          content: $('.sell-pop'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
          cancel: function(){}
        });
      })

      $('.add').click(function(){
        var num = $("#item_num").val();
        $("#item_num").val(++num)
      })

      $('.sub').click(function(){
        var num = $("#item_num").val();
        --num;
        num = num >0 ? num : 1;
        $("#item_num").val(num);
      })

      $('#item_num').blur(function(){
        var num = $("#item_num").val();
        num = num >0 ? num : 1;
        $("#item_num").val(num);
      })
    })
  </script>


<include file="Public/footer" />