<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>

<div class="page-scroll">
<form class="login-form form-horizontal" action="order.html" method="post">
      <div class="shop-products-details-inquiry-page">
        <div class="order">
          <div class="pro"><img src="<?= $data['path']?>"></div>
          <div class="info">
            <div class="order-id">Order ID: #<?= $data['orderNo']?></div>
            <div class="name"><?= $data['name']?></div>
          </div>
        </div>
        <div class="specification">
 <?php  foreach ( $data['specList'] as $key => $value): ?>
         <p><?= $value['spec_name'] ?>: <?= $value['spec'] ?></p>
  <?php endforeach ?>
          <p>SKU.:   <?= $data['sku'] ?></p>
          <p>Quantity: <?= $data['num'] ?></p>
          <p>Unit price: $<?= $data['unit_price'] ?></p>
          <p>Subtotal :  <?= $data['total'] ?></p>
          <p>Shipping :  $0.00</p>
          <p>Taxes :    $0.00</p>
          <p class="c-green font-bold">Total :   $<?= $data['total'] ?></p>
        </div>
        <div class="form">
          <div class="item">
            <h6>First Name<em>*</em></h6>
            <input type="text" name="first_name" maxlength="100">
          </div>
          <div class="item">
            <h6>Last Name<em>*</em></h6>
            <input type="text" name="last_name" maxlength="100">
          </div>
          <div class="item">
            <h6>Country<em>*</em></h6>
            <input type="text" name="country" maxlength="50" value="<?= $user['country']?>">
          </div>
          <div class="item">
            <h6>Zip Code<em>*</em></h6>
           <input type="text" name="zip_code" maxlength="100">
          </div>
          <div class="item">
            <h6>City<em>*</em></h6>
           <input type="text" name="city" maxlength="100">
          </div>
          <div class="item">
            <h6>State/Territory<em>*</em></h6>
           <input type="text" name="state" maxlength="100">
          </div>
          <div class="item">
            <h6>Address Line1<em>*</em></h6>
            <input type="text" name="address_line1" maxlength="500">
          </div>
          <div class="item">
            <h6>Address Line2</h6>
            <input type="text" name="address_line2" maxlength="500">
          </div>
          <div class="item">
            <h6>Phone Number<em>*</em></h6>
            <input type="text" name="phone" maxlength="20" value="<?= $user['phone']?>">
          </div>
          <div class="item">
            <h6>leave comments</h6>
           <textarea name="comments" maxlength="2000"></textarea>
          </div>
        </div>
           <input type="hidden" name="orderno" value="<?= $data['orderNo']?>">
            <input type="submit" value="Submit" class="ajax-post" target-form="form-horizontal">
      </div>
 </form>
  <script type="text/javascript">
    $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          if(data.status){
            layer.msg(data.info,{anim: 1},function(){
                 window.location.href = data.url;
            })
          } else {
            layer.msg(data.info)
          }
        }
      });
</script>
<include file="Public/footer" />