<include file="Public/head" title="{$data.name}-{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/passport.css">
<script src="__JS__/jquery.jqzoom.js"></script>
<style type="text/css">
/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:400px;height:400px;border:1px solid #CCCCCC;display:block;text-align:center;overflow:hidden;background:#fff;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
</style>

  <div class="pro-detail-page">
    <div class="pro-content">
      <div class="wrapper">
        <div class="pro-pic">
          <div class="big-pic jqzoom">
            <img  src="<?= $data['item_pic'][0]['path'] ?>"  jqimg="<?= $data['item_pic'][0]['path'] ?>">
          </div>
          <div class="pic-list">
            <ul class="clearfix">
          <?php foreach ($data['item_pic'] as  $key=> $value): ?>
              <li <?php if ($key === 0): ?>class="active"<?php endif ?>><img src="<?= $value['path'] ?>" data-bigImg="<?= $value['path'] ?>"></li>
            <?php endforeach ?>
            </ul>
          </div>
        </div>
        <div class="pro-info">
          <div class="pro-name"><?= $data['name'] ?></div>
          <div class="details">
            <div>SKU:   <?= $data['sku'] ?></div>
  <if condition="!is_login()">
            <div class="price">
              Bulky Price: <span class="c-green">$<?= $data['bulky_price'] ?></span> <a class="link" href="">Login</a>  to view wholesale prices
            </div>
 <else />
            <div class="price-list">
              <ul class="clearfix">
              <?php
              $price = explode(",",$data['price']);
              $price_range = explode(",",$data['price_range']);
              ?>
                <li>
                  <div>Quantity:</div>
                  <div>Interval price:</div>
                </li>
                <?php foreach ((array)$price_range as $key => $value): ?>
                <li>
                  <div class="district"><?= $value ?></div>
                  <div class="num">$<?= $price[$key] ?></div>
                </li>
                <?php endforeach ?>
              </ul>
            </div>
     </if>
            <div>
              Rank:
              <div class="star-list big clearfix">
                <?php
                    for ($i=1; $i <= 5 ; $i++) {
                        if($i<=$data['star']){
                                echo '<i class="star on"></i>';
                        }else{
                                echo '<i class="star"></i>';
                        }
                    }
               ?>
                </div>
              <span class="c-green">754</span> Reviews
              <div class="img-list clearfix">
                <a href="javascript:;"><img src="__IMG__/icon-collect.png" id="collection"></a>
                <li><a href="javascript:;" class="social-share-icon icon-facebook"><img src="__IMG__/organizing/9.png"></a></li>
                <li><a href="javascript:;" class="social-share-icon icon-twitter"><img src="__IMG__/organizing/10.png"></a></li>
                <li><a href="javascript:;" class="social-share-icon icon-linkedin"><img src="__IMG__/organizing/11.png"></a></li>
        <script src="__STATIC__/social-share.min.js"></script>
        <script>
          var $config = {
              title               : '<?= $data['name'] ?>',
              description         : '<?= $data['description'] ?>',
              url   : "'<?= $data['shareUrl'] ?>",
              image  : "<?= $data['item_pic'][0]['path'] ?>",
              sites:['linkedin', 'facebook', 'twitter','weibo']
          };
          socialShare('.social-share-item', $config);
          $('#collection').click(function(){
                var id = <?= $data['id']?>;
                $.post("{:U('collection')}", {id:id}, success, "json");
                return false;
                function success(data){
                   layer.msg(data.info)
                }
              })
          </script>

              </div>
            </div>

      <?php foreach ($data['item_spec'] as $key => $value):
                  $spec_img = explode(",", $value['spec_img']);
                  $spec = explode(",", $value['spec']); ?>
          <div>
              <span class="chooseSpec"><?= $value['name'] ?>:<?= $spec[0] ?></span>
              <div class="type-choose-list clearfix">
              <?php foreach ($spec_img as $k=> $v): ?>
                  <div class="pic <?php if ($k===0): ?>on<?php endif ?>" data-name="<?= $value['name'].':'.$spec[$k] ?>" data-spec="<?= $value['id'].'-'.$k?>"><img src=" <?= get_picture($v) ?>"></div>
              <?php endforeach ?>
              </div>
              <input type="hidden" name="spec[]" value="<?= $value['id'].'-'.$k ?>">
          </div>
      <?php endforeach ?>
<script type="text/javascript">
$('.type-choose-list .pic').click(function(){
  var name = $(this).data('name');
  $(this).parent().find('.pic').removeClass('on');
  $(this).addClass('on');
  $(this).parent().prev().html(name);
  $(this).parent().next().val($(this).data('spec'));
})

</script>
            <div class="desc">
              Description:
              <p><?= $data['description'] ?></p>
            </div>
            <div class="quantity">
              Quantity:
              <div class="edit">
                <input type="text" value="1" id="item_num" onafterpaste="this.value=this.value.replace(/\D/g,'')" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="9">
                <span class="add"><i class="icon-global bg-28"></i></span>
                <span class="sub"><i class="icon-global bg-29"></i></span>
 <script type="text/javascript">
 $('.add').click(function(){
    var num = $("#item_num").val();
    $("#item_num").val(++num)
 })

  $('.sub').click(function(){
    var num = $("#item_num").val();
    --num;
    num = num >0 ? num : 1;
    $("#item_num").val(num);
 })

    $('#item_num').blur(function(){
      var num = $("#item_num").val();
      num = num >0 ? num : 1;
      $("#item_num").val(num);
 })

 </script>
              </div>
              Piece
              <span class="stock">In stock <?= $data['stock'] ?> Piece</span>
            </div>
            <div>
              Sample purchase please click:
              <a class="btn green" href="javascript:;" id="Inquiry">Inquiry</a>
               <input type="hidden" value="<?= is_login() ?>" id="is_login">
            </div>
            <div class="sell">
              Click to buy in bulk:
              <a class="btn yellow switchPop" href="javascript:;">Buy</a>
              <div class="sell-pop">
                <ul>
                  <li>BUY ON AMAZON <a href="<?= $data['amazon'] ?>" target="_blank">GO</a></li>
                  <li>BUY ON JD <a href="<?= $data['jd'] ?>" target="_blank">GO</a></li>
                  <li>BUY ON TAOBAO <a href="<?= $data['taobao'] ?>" target="_blank">GO</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="pro-detail">
      <div class="wrapper">
        <div class="nav-bar">
          <ul class="clearfix">
            <li><a class="cur" href="#Description">Product description</a></li>
            <li><a href="#Packaging">Packaging & Shipping</a></li>
            <li><a href="#Review">Review(765)</a></li>
            <li><a href="#Comment">Write a Review</a></li>
            <li><a href="#FAQ">FAQ</a></li>
          </ul>
        </div>

        <div class="contain">

          <div class="tab-column description" id="Description">
            <?= $data['desc'] ?>
          </div>

          <div class="tab-column packaging" id="Packaging">
           <?= $data['packaging_and_shipping'] ?>
          </div>

          <div class="tab-column faq" id="FAQ">
            <div class="title">Customer questions & answers</div>
            <div class="faq-list">
<?php foreach ($question_list as $key => $value): ?>
              <div class="item">
                <dl>
                  <dt>Question:</dt>
                  <dd><?= $value['content'] ?></dd>
                </dl>
                <dl>
                  <dt>Answer:</dt>
                  <dd>
                    <div class="text"><?= $value['reply'] ?></div>
                    <div class="time">By <?= $value['username'] ?> Hand on <?= $value['month'] ?> <?= $value['day'] ?>, <?= $value['year'] ?></div>
                  </dd>
                </dl>
              </div>
<?php endforeach ?>

            </div>
            <div class="paging">
                <?= $_question_page ?>
            </div>
          </div>

          <div class="tab-column comment" id="Comment">
            <div class="title">User Comment</div>
            <div class="form">
              <dl>
                <dt>Username:</dt>
                <dd>Anonymous user</dd>
              </dl>
              <dl>
                <dt>E-mail:</dt>
                <dd><input class="e-mail" type="text" id="comment_email"></dd>
              </dl>
              <dl>
                <dt>Rank:</dt>
                <dd>
                  <div class="star-list clearfix" id="comment-star-list">
                    <i class="star on" ref=0></i>
                    <i class="star on" ref=1></i>
                    <i class="star on" ref=2></i>
                    <i class="star on" ref=3></i>
                    <i class="star on" ref=4></i>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>Content:</dt>
                <dd>
                  <textarea maxlength="5000" id="comment_content"></textarea>
                </dd>
              </dl>
              <dl>
                <dt>Verification code:</dt>
                <dd>
                  <br />
                  <input class="code" type="text" maxlength="4" id="comment_code"><a href="javascript:;" class="reloadverify"><img class="code-pic verifyimg" src="{:U('Public/verify')}"></a>
                  <input type="submit" value="Submit" id="commentSubmit">
                </dd>
              </dl>
            </div>
          </div>

<script type="text/javascript">
$(function(){
      $("#Inquiry").click(function(){
          var spec = '',is_login=$("#is_login").val(),num = $('#item_num').val(),item_id=<?= $data['id'] ?>,url="{:U('Item/orderhanlde')}";
          if(is_login == 0){
                location.href= "{:U('User/login')}?uri={:U('Item/detail')}?id="+item_id;
          }else{
                $('input[name="spec[]"]').each(function(){
                   spec += $(this).val()+'|';
              })
              location.href= url+"?id="+item_id+"&num="+num+'&spec='+spec;
          }
      });

        $("#comment-star-list i").click(function(){
            var ref = $(this).attr('ref');
            $("#comment-star-list i").removeClass("on");
            $("#comment-star-list i").each(function(e,index){
                  if(e<=ref){
                      $(this).addClass('on')
                  }
            })
        })


            $('#commentSubmit').click(function(){
                var data = {};
                data['item_id'] = <?= $data['id']?>;
                data['email'] =$('#comment_email').val();
                data['content'] =$('#comment_content').val();
                data['code'] =$('#comment_code').val();
                data['star'] = 0 ;
                $("#comment-star-list i").each(function(e,index){
                    if($(this).hasClass('on')){
                        ++data['star'];
                    }
                })
                $.post("{:U('comment')}",data, success, "json");
                return false;
                function success(data){
                      layer.msg(data.info,{anim: 1},function(){
                       if (data.status ==1) {
                           location.reload();
                        }
                  })
                }
            })

})
</script>
          <div class="tab-column review" id="Review">
            <div class="title">Write a Review</div>
            <div class="review-list">

            <?php foreach ($comment_list as $key => $value): ?>
              <div class="item">
                <div class="star-total">
                  <div class="star-list clearfix">
                     <?php
                        for ($i=1; $i <= 5 ; $i++) {
                            if($i<=$value['star']){
                                    echo '<i class="star on"></i>';
                            }else{
                                    echo '<i class="star"></i>';
                            }
                        }
                   ?>
                  </div>
                  <?= $value['star'] ?>.0
                </div>
                <div class="customer">Anonymous user <span class="time"> <?= $value['create_time'] ?></span></div>
                <div class="content"><?= $value['content'] ?></div>
            </div>
            <?php endforeach ?>

            </div>
            <div class="paging">
              <?= $_page ?>
              </div>
          </div>
        </div>

<?php if ($ViewHistoryList ): ?>
        <div class="history">
          <h5>View History</h5>
          <div class="list">
            <div class="box">
              <ul class="clearfix bd">
              <?php foreach ($ViewHistoryList as $key => $value): ?>
                <li><a href="{:U('detail?id='.$value['id'])}">
                  <div class="pic"><img src="<?= $value['path']?>"></div>
                  <div class="name"><?= $value['name']?></div>
                  <div class="price"><span>$<?= $value['bulky_price']?></span> /Piece</div></a>
                </li>
              <?php endforeach ?>
              </ul>
            </div>
            <span class="prevCell handle"><i class="icon-arrow prev"></i></span>
            <span class="nextCell handle"><i class="icon-arrow next"></i></span>
          </div>
        </div>
<?php endif ?>
      </div>
    </div>

  </div>
<script>
  $(function () {

  $(".jqzoom").jqueryzoom({ xzoom: 400, yzoom: 400 });
  //商品提问
$("#ask").click(function(){
    layer.prompt({
      title: 'ask a question',
      formType: 2,
      // area: ['500px', '150px'],
      maxlength: 500,
      btn: ['yes','no']
    }, function(pass, index){
          var data = {};
          data['item_id'] = <?= $data['id']?>;
          data['content'] =pass;
          $.post("{:U('ask')}",data, success, "json");
            return false;
            function success(data){
                      layer.msg(data.info,{anim: 1},function(){
                      location.reload();
                  })
            }
  });
})

             //商品轮播
    $(".goods-list ul li").hover(function(){
        // $(this).addClass("curr").siblings().removeClass("curr");
        // var imgSrc = $(this).find('img').attr('src');
        // var bigImgSrc = $(this).find('img').attr('jqimg');
        // $('#preview .jqzoom img').attr('src',bigImgSrc);
        // $('#preview .jqzoom img').attr('jqimg',bigImgSrc);
    },function(){
        /*$('#preview .jqzoom img').attr('src',$('#preview .jqzoom img').attr('img'));*/
    });


      $('.pic-list').on('click', 'li', function () {
        $(this).addClass('active').siblings().removeClass('active')
        let Src = $(this).children('img').attr('data-bigImg')
        $('.pro-pic .big-pic img').attr('src', Src).attr('jqimg',Src);
      })

      $('.sell').on('click', '.switchPop', function () {
        $('.sell-pop').stop(true).fadeToggle()
      })

      $(".history .list").slide({
        mainCell:".bd",
        autoPage:true,
        effect:"leftLoop",
        autoPlay:true,
        vis:4,
        prevCell: '.prevCell',
        nextCell: '.nextCell'
      });
    })
  </script>
<include file="Public/footer" />