<include file="Public/head" title="{$data.name}-{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/passport.css">
<script src="__JS__/jquery.jqzoom.js"></script>
<link href="/Public/static/kindeditor/default/default.css" rel="stylesheet">
<style type="text/css">
/*图片放大镜样式*/
.pro-detail-page .pro-content .pro-pic .big-pic{position: static;}
.zoomdiv img{width: auto!important;}
.jqzoom{border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;display:block;text-align:center;overflow:hidden;background:#fff;margin-top: -30px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
.layui-layer-btn .layui-layer-btn0{    border-color: #489e87; background-color: #489e87;}

.contain , .contain td {font:12px/1.5 "sans serif",tahoma,verdana,helvetica;}
table, .contain p, .contain div {word-wrap: break-word;}
.contain p {margin:5px 0;}
.contain table {border-collapse:collapse;}
.contain img {border:0;}
.contain noscript {display:none;}
table.ke-zeroborder td {border:1px dotted #AAA;}
table img.ke-flash {
  border:1px solid #AAA;
  background-image:url(/Public/static/kindeditor/common/flash.gif);
  background-position:center center;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
}
img.ke-rm {
  border:1px solid #AAA;
  background-image:url(/Public/static/kindeditor/common/rm.gif);
  background-position:center center;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
}
img.ke-media {
  border:1px solid #AAA;
  background-image:url(/Public/static/kindeditor/common/media.gif);
  background-position:center center;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
}
img.ke-anchor {
  border:1px dashed #666;
  width:16px;
  height:16px;
}
.ke-script, .ke-noscript, .ke-display-none {
  display:none;
  font-size:0;
  width:0;
  height:0;
}
.ke-pagebreak {
  border:1px dotted #AAA;
  font-size:0;
  height:2px;
}
</style>

  <div class="pro-detail-page">
    <div class="pro-content">
      <div class="wrapper">
        <div class="pro-pic">
          <div class="big-pic">
            <div class="jqzoom">
              <img class="img" src="<?= $data['item_pic'][0]['path'] ?>"  jqimg="<?= $data['item_pic'][0]['path'] ?>">
            </div>
          </div>
          <div class="pic-list">
            <div class="cell prevCell"><i class="bg-30 icon-global"></i></div>
            <div class="cell nextCell"><i class="bg-31 icon-global"></i></div>
            <div class="bd">
              <ul class="clearfix">
                <?php foreach ($data['item_pic'] as  $key=> $value): ?>
                <li <?php if ($key === 0): ?>class="active"<?php endif ?>><img src="<?= $value['path'] ?>" data-bigImg="<?= $value['path'] ?>"></li>
                <?php endforeach ?>
              </ul>
            </div>
          </div>
        </div>
        <div class="pro-info">
          <div class="pro-name"><?= $data['name'] ?></div>
          <div class="details">
            <div>SKU:   <?= $data['sku'] ?></div>
            <div>NO:   <?= $data['amazon'] ?></div>
  <if condition="!is_login()">
            <div class="price">
              Bulky Price: <span class="c-green">$<?= $data['bulky_price'] ?></span> <a class="link" href="{:U('User/login')}?uri={:U('Item/detail')}?id=<?= $data['id']?>">Login</a>  to view wholesale prices
            </div>
 <else />
            <div class="price-list">
              <ul class="clearfix">
              <?php
              $price = explode(",",$data['price']);
              $price_range = explode(",",$data['price_range']);
              ?>
                <li>
                  <div>Quantity:</div>
                  <div>Interval price:</div>
                </li>
                <?php foreach ((array)$price_range as $key => $value): ?>
                <li>
                  <div class="district"><?= $value ?></div>
                  <div class="num">$<?= $price[$key] ?></div>
                </li>
                <?php endforeach ?>
              </ul>
            </div>
     </if>
            <div>
              Rank:
              <div class="star-list big clearfix">
                <?php
                    for ($i=1; $i <= 5 ; $i++) {
                        if($i<=$data['star']){
                                echo '<i class="star on"></i>';
                        }else{
                                echo '<i class="star"></i>';
                        }
                    }
               ?>
                </div>
              <span class="c-green"><a href="#Review"><?= $comment_count ?></a></span> Reviews
              <div class="img-list clearfix social-share-item" data-initialized="true">
                <a href="javascript:;"><i id="collection" class="icon-share collection <?php if ($already==1): ?>already<?php endif ?>" data-already="<?= $already ?>"></i></a>
                <a href="javascript:;" class="social-share-icon icon-facebook"><i class="icon-share facebook"></i></a>
                <a href="javascript:;" class="social-share-icon icon-twitter"><i class="icon-share twitter"></i></a>
                <a href="javascript:;" class="social-share-icon icon-linkedin"><i class="icon-share linkedin"></i></a>
        <script src="__STATIC__/social-share.min.js"></script>
        <script>
          var $config = {
              title               : "'<?= $data['name'] ?>",
              description         : "<?= $data['description'] ?>",
              url   : "'<?= $data['shareUrl'] ?>",
              image  : "<?= $data['item_pic'][0]['path'] ?>",
              sites:['linkedin', 'facebook', 'twitter','weibo']
          };
          socialShare('.social-share-item', $config);
          $('#collection').click(function(){
              if($("#is_login").val() == 0){
                  location.href= "{:U('User/login')}?uri={:U('Item/detail')}?id=<?= $data['id']?>";
                  return false;
            }
              if( $(this).attr('data-already') == 1){
                  return false;
            }
                var id = <?= $data['id']?>;
                $.post("{:U('collection')}", {id:id}, success, "json");
                return false;
                function success(data){
                   layer.msg(data.info);
                   $("#collection").addClass('already');
                   $("#collection").attr('data-already','1');
                }
              })
          </script>
              </div>
            </div>

          <div>
              <span class="chooseSpec" id="chooseSpec" data-spec_name = "<?= $data['spec_name'] ?>"  data-src = "<?= get_item_picture($data['id']) ?>"><?= $data['spec'] ?>: <span id="spec_name"> <?= $data['spec_name'] ?></span></span>
              <div class="type-choose-list clearfix">
              <?php foreach ($spec as $k=> $v): ?>
                  <div class="pic <?php if ($v['id']===$_GET['id']): ?>on<?php endif ?>" data-spec_name="<?= $v['spec_name'] ?>">
                  <a href="{:U('detail?id='.$v['id'])}"><img src=" <?= get_item_picture($v['id']) ?>"></a>
                  </div>
              <?php endforeach ?>
              </div>
              <input type="hidden" name="spec[]" value="<?= $data['spec'].'-'.$data['spec_name'] ?>">
          </div>
<script type="text/javascript">
$('.type-choose-list .pic').hover(function(){
  var  spec_name = $(this).attr('data-spec_name'),
  Src=$(this).find('img').attr('src');
  $("#spec_name").html(spec_name);
  $('.pro-pic .big-pic img').attr('src', Src).attr('jqimg',Src);
},function(){
  var  spec_name = $('#chooseSpec').attr('data-spec_name'),
  Src= $('#chooseSpec').attr('data-src');
  $("#spec_name").html(spec_name);
  $('.pro-pic .big-pic img').attr('src', Src).attr('jqimg',Src);
})

</script>
            <div class="desc">
              Description:
              <p><?= $data['description'] ?></p>
            </div>
            <div class="quantity">
              Quantity:
              <div class="edit">
                <input type="text" value="1" id="item_num" onafterpaste="this.value=this.value.replace(/\D/g,'')" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="9">
                <span class="add"><i class="icon-global bg-28"></i></span>
                <span class="sub"><i class="icon-global bg-29"></i></span>
 <script type="text/javascript">
 $('.add').click(function(){
    var num = $("#item_num").val();
    $("#item_num").val(++num)
 })

  $('.sub').click(function(){
    var num = $("#item_num").val();
    --num;
    num = num >0 ? num : 1;
    $("#item_num").val(num);
 })

    $('#item_num').blur(function(){
      var num = $("#item_num").val();
      num = num >0 ? num : 1;
      $("#item_num").val(num);
 })

 </script>
              </div>
              Piece
              <span class="stock">In stock <?= $data['stock'] ?> Piece</span>
            </div>
            <div>
              Click to buy in bulk:
              <a class="btn green" href="javascript:;" id="Inquiry">Inquiry</a>
               <input type="hidden" value="<?= is_login() ?>" id="is_login">
            </div>
            <div class="sell">
              Sample purchase please click:
              <a class="btn yellow switchPop" href="javascript:;">Buy</a>
              <div class="sell-pop" id="sell-pop">
                <ul>
                  <?php foreach ((array)$buyon as $key => $value): ?>
                      <li>BUY ON <?= $value['name'] ?> <a href="<?= $value['url'] ?>" target="_blank">GO</a></li>
                  <?php endforeach ?>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="pro-detail">
      <div class="wrapper">
        <div class="nav-bar">
          <ul class="clearfix">
            <li><a class="cur" href="#Description">Product description</a></li>
            <li><a href="#Packaging">Packaging & Shipping</a></li>
            <li><a href="#Review">Review(<?= $comment_count ?>)</a></li>
            <li><a href="#Comment">Write a Review</a></li>
            <li><a href="#FAQ">FAQ</a></li>
          </ul>
        </div>

        <div class="contain">

          <div class="tab-column description" id="Description">
            <iframe src="/item/desc.html?id=<?= $data['id'] ?>" name="iframe2" onload="this.height=iframe2.document.body.scrollHeight" width="1092px" scrolling="no"></iframe>
          </div>

          <div class="tab-column packaging" id="Packaging">
           <?= $data['packaging_and_shipping'] ?>
          </div>

          <div class="tab-column faq" id="FAQ">
            <div class="title">Customer questions & answers</div>
             <div class="quiz"><a href="javascript:;" id="ask">I have to ask a question</a></div>
            <div class="faq-list">
<?php foreach ($question_list as $key => $value): ?>
              <div class="item">
                <dl>
                  <dt>Question:</dt>
                  <dd><?= $value['content'] ?></dd>
                </dl>
                <dl>
                  <dt>Answer:</dt>
                  <dd>
                    <div class="text"><?= $value['reply'] ?></div>
                    <div class="time">By <?= $value['username'] ?> Hand on <?= $value['month'] ?> <?= $value['day'] ?>, <?= $value['year'] ?></div>
                  </dd>
                </dl>
              </div>
<?php endforeach ?>

            </div>
            <div class="paging">
                <?= $_question_page ?>
            </div>
          </div>

          <div class="tab-column comment" id="Comment">
            <div class="title">Write a Review</div>
            <div class="form">
              <dl>
                <dt>Theme:</dt>
                <dd><input class="e-mail" type="text" id="comment_name" value=""></dd>
              </dl>
              <dl>
                <dt>Username:</dt>
                <dd><input class="e-mail" type="text" id="comment_email"></dd>
              </dl>
              <dl>
                <dt>Rank:</dt>
                <dd>
                  <div class="star-list clearfix" id="comment-star-list">
                    <i class="star on" ref=0></i>
                    <i class="star on" ref=1></i>
                    <i class="star on" ref=2></i>
                    <i class="star on" ref=3></i>
                    <i class="star on" ref=4></i>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>Content:</dt>
                <dd>
                  <textarea maxlength="5000" id="comment_content"></textarea>
                </dd>
              </dl>
              <dl>
                <dt>Verification code:</dt>
                <dd>
                  <br />
                  <input class="code" type="text" maxlength="4" id="comment_code"><a href="javascript:;" class="reloadverify"><img class="code-pic verifyimg" src="{:U('Public/verify')}"></a>
                  <input type="submit" value="Submit" id="commentSubmit">
                </dd>
              </dl>
            </div>
          </div>

<script type="text/javascript">
$(function(){
      $("#Inquiry").click(function(){
          var spec = '',is_login=$("#is_login").val(),num = $('#item_num').val(),item_id=<?= $data['id'] ?>,url="{:U('Item/orderhanlde')}";
          if(is_login == 0){
                location.href= "{:U('User/login')}?uri={:U('Item/detail')}?id="+item_id;
          }else{
                $('input[name="spec[]"]').each(function(){
                   spec += $(this).val()+'|';
              })
              location.href= url+"?id="+item_id+"&num="+num+'&spec='+spec;
          }
      });

        $("#comment-star-list i").click(function(){
            var ref = $(this).attr('ref');
            $("#comment-star-list i").removeClass("on");
            $("#comment-star-list i").each(function(e,index){
                  if(e<=ref){
                      $(this).addClass('on')
                  }
            })
        })


            $('#commentSubmit').click(function(){
                var data = {};
                data['item_id'] = <?= $data['id']?>;
                data['name'] =$('#comment_name').val();
                data['email'] =$('#comment_email').val();
                data['content'] =$('#comment_content').val();
                data['code'] =$('#comment_code').val();
                data['star'] = 0 ;
                $("#comment-star-list i").each(function(e,index){
                    if($(this).hasClass('on')){
                        ++data['star'];
                    }
                })
                $.post("{:U('comment')}",data, success, "json");
                return false;
                function success(data){
                      layer.msg(data.info,{anim: 1},function(){
                       if (data.status ==1) {
                           location.reload();
                        }
                  })
                }
            })

})
</script>
          <div class="tab-column review" id="Review">
            <div class="title">User Comment</div>
            <div class="review-list">

            <?php foreach ($comment_list as $key => $value): ?>
              <div class="item">
                <div class="star-total">
                  <div class="star-list clearfix">
                     <?php
                        for ($i=1; $i <= 5 ; $i++) {
                            if($i<=$value['star']){
                                    echo '<i class="star on"></i>';
                            }else{
                                    echo '<i class="star"></i>';
                            }
                        }
                   ?>
                  </div>
                  <strong><?= $value['name'] ?></strong>
                </div>
                <div class="customer"> <strong><?= $value['email'] ?></strong> <span class="time"> <?= $value['month'] ?> <?= $value['day'] ?>, <?= $value['year'] ?></span></div>
                <div class="content"><?= $value['content'] ?></div>
            </div>
            <?php endforeach ?>

            </div>
            <div class="paging">
              <?= $_page ?>
              </div>
          </div>
        </div>

<?php if ($ViewHistoryList ): ?>
        <div class="history">
          <h5>View History</h5>
          <div class="list">
            <div class="box">
              <ul class="clearfix bd">
              <?php foreach ($ViewHistoryList as $key => $value): ?>
                <li><a href="{:U('detail?id='.$value['id'])}">
                  <div class="pic"><img src="<?= $value['path']?>"></div>
                  <div class="name" title="<?= $value['name']?>"><?= $value['name']?></div>
                  <div class="price"><span>$<if condition="!is_login()"><?= $value['bulky_price'] ?>
                  <else /><?php $price = explode(",",$value['price']);
                  if(count($price) == 1){
                      echo $price[0];
                  }else{
                      echo end($price).'-'.$price[0];
                  }
                  ?></if>
                  </span> /Piece</div></a>
                </li>
              <?php endforeach ?>
              </ul>
            </div>
            <span class="prevCell handle"><i class="icon-arrow prev"></i></span>
            <span class="nextCell handle"><i class="icon-arrow next"></i></span>
          </div>
        </div>
<?php endif ?>
      </div>
    </div>

  </div>
<script>
  $(function () {

  $(".jqzoom").jqueryzoom({ xzoom: 680, yzoom: 505,offset: 30 });
  //商品提问
$("#ask").click(function(){
    if($("#is_login").val() == 0){
          location.href= "{:U('User/login')}?uri={:U('Item/detail')}?id=<?= $data['id']?>";
          return false;
    }
    layer.prompt({
      title: 'ask a question',
      formType: 2,
      // area: ['500px', '150px'],
      maxlength: 500,
      btn: ['yes','no']
    }, function(pass, index){
          var data = {};
          data['item_id'] = <?= $data['id']?>;
          data['content'] =pass;
          $.post("{:U('ask')}",data, success, "json");
            return false;
            function success(data){
                      layer.msg(data.info,{anim: 1},function(){
                      location.reload();
                  })
            }
  });
})

             //商品轮播
    $(".goods-list ul li").hover(function(){
        // $(this).addClass("curr").siblings().removeClass("curr");
        // var imgSrc = $(this).find('img').attr('src');
        // var bigImgSrc = $(this).find('img').attr('jqimg');
        // $('#preview .jqzoom img').attr('src',bigImgSrc);
        // $('#preview .jqzoom img').attr('jqimg',bigImgSrc);
    },function(){
        /*$('#preview .jqzoom img').attr('src',$('#preview .jqzoom img').attr('img'));*/
    });


      $('.pic-list').on('click', 'li', function () {
        $(this).addClass('active').siblings().removeClass('active')
        let Src = $(this).children('img').attr('data-bigImg')
        $('.pro-pic .big-pic img').attr('src', Src).attr('jqimg',Src);
      })

      $('.sell').on('click', '.switchPop', function () {
         event.stopPropagation()
        $('.sell-pop').stop(true).fadeToggle()
      })

       $(document).on('click',':not(.sell)',function(){
          $('.sell-pop').hide()
        })

      jQuery(".pic-list").slide({
        mainCell:"ul",
        autoPage:true,
        effect:"leftLoop",
        // autoPlay:true,
        vis:5,
        prevCell: '.prevCell',
        nextCell: '.nextCell'
      });

      $(".history .list").slide({
        mainCell:".bd",
        autoPage:true,
        effect:"leftLoop",
        autoPlay:true,
        vis:4,
        prevCell: '.prevCell',
        nextCell: '.nextCell'
      });

           var navArr = []
      function getOffsetTop() {
        $('.nav-bar li').each(function () {
          var i = $(this).index()
          var id = $(this).children('a').attr('href').split('#')[1]
          var offsetTop = $('#' + id) ? $('#' + id).offset().top : false
          navArr.push({
            /***
             * key下标
             * id滚动至id
             */
            key: i,
            id: id,
            offsetTop: offsetTop
          })
        })
      }
      getOffsetTop()

      let proDetailTop = $('.pro-detail').offset().top + 40
      $(window).scroll(function(){
        var _scrollTop=$(window).scrollTop();
        if (_scrollTop >= proDetailTop){
          $('.nav-bar').addClass('fixed')
          for(var l = navArr.length-1; l >= 0; l--){
            if(_scrollTop >= navArr[l]['offsetTop'] && navArr[l]['offsetTop']) {
              $('.nav-bar li').children('a').removeClass('cur')
              $('.nav-bar li').eq(navArr[l].key).children('a').addClass('cur')
              break
            }
          }
        } else {
          $('.nav-bar').removeClass('fixed')
        }
      });

      $('.nav-bar').on('click', 'a', function () {
        $(this).addClass('cur')
        $(this).parent().siblings().children('a').removeClass('cur')
      })

    })
  </script>
<include file="Public/footer" />