<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户购买列表</h2>
	</div>

    <div>
        <!-- <button class="btn ajax-get confirm" url="{:U('clear')}">清 空</button> -->
        <button class="btn ajax-post confirm" target-form="ids" url="{:U('remove')}">删 除</button>
        <button class="btn ajax-post confirm" target-form="ids" url="{:U('setallisread')}">标记已读</button>

                <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入用户名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index',false)}"><i class="btn-search"></i></a>
            </div>
        </div>

    </div>


	<!-- 数据列表 -->
	<div class="data-table">
	<table class="">
    <thead>
        <tr>
	<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                          <th class="" style="width:6%">是否阅读</th>
                        <th class="">订单号</th>
                        <th class="">用户</th>

                        <th class="">产品名称</th>
                        <th class="">产品规格</th>
                        <th class="">单价</th>
                        <th class="">数量</th>
                        <th class="">合计</th>
                        <th class="">下单时间</th>

                        <th class="" style="width:13%">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
             <td><a class="ajax-get" href="{:U('order/setisread',['id'=>$vo['id'],'status'=>$vo['is_read']])}"><?= $vo['is_read'] == 1 ? '已读' : '未读' ?></a></td>
			<td> {$vo.orderno}</td>
                                        <td>{$vo.username}</td>

                                       <td>{$vo.name}</td>
                                       <td>{$vo.spec}</td>
                                        <td>{$vo.unit_price}</td>
			<td>{$vo.num}</td>
			<td>{$vo.total}</td>
			<td><span>{$vo.create_time}</span></td>

			<td>
                                        <!-- <a href="{:U('order/edit?id='.$vo['id'])}">回复</a> -->
                                        <a href="{:U('order/detail?id='.$vo['id'])}">详情</a>
                                         <a href="{:U('order/edit?id='.$vo['id'])}">回复</a>
			<a class="confirm ajax-get" href="{:U('order/remove?ids='.$vo['id'])}">删除
            </a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
	<!-- 分页 -->
	<div class="page">{$_page}</div>
	<!-- /分页 -->

</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$("#order_add").click(function(){
		window.location.href = $(this).attr('url');
	})

        //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });

})
</script>
</block>
