.bg-1 {
    width: .38rem; height: .31rem;
    background: -.10rem -.10rem;
}

.bg-2 {
    width: .15rem; height: .21rem;
    background: -1.63rem -.10rem;
}

.bg-3 {
    width: .20rem; height: .20rem;
    background: -.10rem -1.09rem;
}

.bg-4 {
    width: .21rem; height: .17rem;
    background: -.50rem -1.09rem;
}

.bg-5 {
    width: .27rem; height: .23rem;
    background: -1.16rem -.10rem;
}

.bg-6 {
    width: .28rem; height: .28rem;
    background: -.68rem -.10rem;
}

.bg-7 {
    width: .29rem; height: .22rem;
    background: -.58rem -.61rem;
}

.bg-8 {
    width: .28rem; height: .28rem;
    background: -.10rem -.61rem;
}

.bg-9 {
    width: .19rem; height: .23rem;
    background: -1.16rem -.53rem;
}