.bg-1 {
    width: 15px; height: 17px;
    background: url('css_sprites.png') -10px -107px;
}


.bg-2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -10px -71px;
}


.bg-3 {
    width: 13px; height: 7px;
    background: url('css_sprites.png') -149px -112px;
}


.bg-4 {
    width: 7px; height: 13px;
    background: url('css_sprites.png') -40px -144px;
}


.bg-15 {
    width: 12px; height: 14px;
    background: url('css_sprites.png') -149px -43px;
}


.bg-6 {
    width: 19px; height: 32px;
    background: url('css_sprites.png') -71px -10px;
}


.bg-5 {
    width: 19px; height: 32px;
    background: url('css_sprites.png') -110px -10px;
}


.bg-7 {
    width: 19px; height: 11px;
    background: url('css_sprites.png') -82px -71px;
}


.bg-8 {
    width: 19px; height: 11px;
    background: url('css_sprites.png') -45px -107px;
}


.bg-9 {
    width: 41px; height: 41px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-10 {
    width: 11px; height: 15px;
    background: url('css_sprites.png') -149px -77px;
}


.bg-11 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -46px -71px;
}


.bg-12 {
    width: 16px; height: 13px;
    background: url('css_sprites.png') -149px -10px;
}


.bg-13 {
    width: 13px; height: 6px;
    background: url('css_sprites.png') -84px -107px;
}


.bg-14 {
    width: 10px; height: 13px;
    background: url('css_sprites.png') -10px -144px;
}