.bg-1 {
    width: 15px; height: 17px;
    background: url('css_sprites.png') -149px -10px;
}


.bg-2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -47px -71px;
}


.bg-3 {
    width: 13px; height: 7px;
    background: url('css_sprites.png') -184px -145px;
}


.bg-4 {
    width: 7px; height: 13px;
    background: url('css_sprites.png') -149px -84px;
}


.bg-5 {
    width: 19px; height: 32px;
    background: url('css_sprites.png') -71px -10px;
}


.bg-6 {
    width: 19px; height: 32px;
    background: url('css_sprites.png') -110px -10px;
}


.bg-7 {
    width: 19px; height: 11px;
    background: url('css_sprites.png') -82px -108px;
}


.bg-8 {
    width: 19px; height: 11px;
    background: url('css_sprites.png') -10px -144px;
}


.bg-9 {
    width: 41px; height: 41px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-10 {
    width: 11px; height: 15px;
    background: url('css_sprites.png') -184px -77px;
}


.bg-11 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -83px -71px;
}


.bg-12 {
    width: 16px; height: 13px;
    background: url('css_sprites.png') -184px -10px;
}


.bg-13 {
    width: 13px; height: 6px;
    background: url('css_sprites.png') -149px -117px;
}


.bg-14 {
    width: 10px; height: 13px;
    background: url('css_sprites.png') -184px -112px;
}


.bg-15 {
    width: 12px; height: 14px;
    background: url('css_sprites.png') -184px -43px;
}


.bg-16 {
    width: 15px; height: 17px;
    background: url('css_sprites.png') -149px -47px;
}


.bg-17 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -10px -108px;
}


.bg-18 {
    width: 17px; height: 17px;
    background: url('css_sprites.png') -10px -71px;
}


.bg-19 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -46px -108px;
}