.layout-two-col
  background-color #f3f3f3
  padding-top 20px
  padding-bottom 30px
  .sideNav
    float left
    width 220px
    ul
      padding: 22px 0 34px
      line-height: 36px
      background-color #86b3a7
      li
        a
          position relative
          display block
          padding: 0 35px 0 20px
          font-size: 14px
          color: #fff
          i
            position: absolute
            top: 50%
            right 20px
            margin-top -7px
          &:hover, &.active
            text-decoration: underline
  .contain
    float right
    width 936px
    background-color #fff

.user-page
  padding: 40px 53px 100px
  .user-info
    text-align: center
    .avator
      width 150px
      height 150px
      padding: 7px
      background-color #fff
      border: 1px solid #86b3a7
      margin: 0 auto
      img
        width 150px
        height 150px
    p
      margin-top 10px
      line-height: 24px
      font-size: 14px
      color: #555
      span
        color: #86b3a7
  .user-form
    margin-top 22px
    dl
      padding-top 20px
      margin-right 20px
      width: 390px
      float left
      dt
        font-size: 14px
        color #555
        line-height: 30px
      dd
        input
          width: 368px
        select
          width: 390px
  input[type='submit']
    margin-top 30px

.privacy-policy-page
  padding: 25px 30px 30px
  font-size: 14px
  color #555
  line-height: 20px

.collection-page
  padding 20px 30px 56px
  font-size: 14px
  color: #555
  .title
    line-height: 25px
    .handle
      float right
      .checkbox-box
      a
        margin-left 25px
        color #555
    h4
      font-size: 16px
  .list
    padding-top 25px
    margin-left -12px
    margin-top -12px
    .item
      position relative
      float left
      margin-left 12px
      margin-top 12px
      width 208px
      height 298px
      border: 1px solid #e1e1e1
      .check-box
        position absolute
        z-index 1
        top: 10px
        left 10px
      .pic
        padding: 15px 9px 12px
        img
          width 190px
          height 190px
      .desc
        padding: 0 10px
        font-family: 'Arial'
        height 60px
        line-height: 20px
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
  .paging
    margin-top 30px

.comment-page
  padding: 18px 30px 56px
  h4
    font-size: 16px
    color #555
    line-height 30px
  .list
    margin-top 10px
    border: 1px solid #e1e1e1
    border-radius: 3px
    overflow hidden
    font-size: 12px
    line-height: 20px
    table
      thead
        tr
          background-color #f4f4f4
          th
            font-size: 12px
            color #555
            line-height: 40px
      tbody
        tr
          border-top 1px solid #efefef
          td
            padding: 14px 15px
            border-left 1px solid #efefef
            vertical-align: top
            font-size: 14px
            color #555
            text-align: center
            .star-list
              margin: 0 auto
            &:first-child
              border-left 0
            &.pro
              width 300px
              .pic
                float left
                border: 1px solid #e1e1e1
                img
                  width: 80px
                  height 80px
              .name
                float left
                margin-left 10px
                padding: 8px 0
                width 200px
                font-size: 14px
                color #555
                font-family 'Arial'
                line-height: 20px
                text-align: left
            &.time
              padding-top 24px
              white-space: nowrap
              font-size: 12px
              color: #999
              text-align: center
              font-family 'microsoft yahei'
            &.star-td
              padding-top 24px
            &.content
              padding-top 10px
              width: 220px
              font-size: 14px
              color: #666
              text-align: left
            &.order-id
              padding-top 24px
              color #333
            &.amount
              padding-top 24px
              width 120px
            &.operating
              width 155px
              vertical-align: middle
              a
                display: block
                width 100px
                height 30px
                margin: 5px auto 0
                background-color #489e87
                font-size: 14px
                color #f3f3f3
                text-align: center
                line-height: 30px
                &:first-child
                  margin-top 0

  .paging
    margin-top 30px

.inquiry-detail-page
  padding: 20px 30px 56px
  font-size: 14px
  color #555
  h4
    font-size: 16px
    color: #555
    line-height: 28px
  .inquiry-contain
    margin-top 15px
    padding: 20px 20px 40px
    border: 2px solid #f3f3f3
    .inquiry-pro
      .pic
        float left
        width 130px
        height 130px
        border: 1px solid #e1e1e1
        img
          width: 130px
          height 130px
      .order-detail
        float left
        width 390px
        margin-left 15px
        .order-id
          color: #333
          line-height: 22px
          font-weight bold
        .desc
          margin-top 6px
          font-family 'Arial'
          line-height: 20px
        .specification
          margin-top 4px
          line-height: 24px
        .total
          margin-top 10px
          line-height: 30px
    .inquiry-user
      margin-top 28px
      padding-top 14px
      line-height: 20px
      border-top 1px solid #e1e1e1
      p
        margin-top 10px
        &:first-child
          margin-top 0
