.layout-two-col
  background-color #f3f3f3
  padding-top 20px
  padding-bottom 30px
  .sideNav
    float left
    width 220px
    ul
      padding: 22px 0 34px
      line-height: 36px
      background-color #86b3a7
      li
        a
          position relative
          display block
          padding: 0 35px 0 20px
          font-size: 14px
          color: #fff
          i
            position: absolute
            top: 50%
            right 20px
            margin-top -7px
          &:hover, &.active
            text-decoration: underline
  .contain
    float right
    width 936px
    background-color #fff

.user-page
  padding: 40px 53px 100px
  .user-info
    text-align: center
    .avator
      width 150px
      height 150px
      padding: 7px
      background-color #fff
      border: 1px solid #86b3a7
      margin: 0 auto
      img
        width 150px
        height 150px
    p
      margin-top 10px
      line-height: 24px
      font-size: 14px
      color: #555
      span
        color: #86b3a7
  .user-form
    margin-top 22px
    dl
      padding-top 20px
      margin-right 20px
      width: 390px
      float left
      dt
        font-size: 14px
        color #555
        line-height: 30px
      dd
        input
          width: 368px
        select
          width: 390px
  input[type='submit']
    margin-top 30px

.privacy-policy-page
  padding: 25px 30px 30px
  font-size: 14px
  color #555
  line-height: 20px