.header
  ul
    li
      a
        color: #fff
  .sign
    a
      color: #fff
.top-header
  position relative
  height 485px
  background: url('../images/bg-top-header.jpg') no-repeat top center
  p
    position: absolute
    top: 50%
    left 0
    right 0
    height 88px
    line-height: 88px
    margin-top -44px
    text-align: center
    font-size: 72px
    color: #fff
    span
      position relative
      display: inline-block
      *display inline
      *zoom 1
      vertical-align: top
      &:after
        content: ''
        position: absolute
        bottom -11px
        left 45px
        right 45px
        height 4px
        background-color #489e87

.organizing-page
  padding-bottom 80px
  h2
    padding-top 37px
    line-height: 110px
    font-size: 36px
    color #333
    text-align: center
  .list
    margin-left -30px
    margin-top -30px
    .item
      float left
      margin-left 30px
      margin-top 30px
      width 350px
      background-color #f6f6f6
      .info
        padding: 10px 50px 10px 15px
        .time
          line-height: 30px
          font-size: 18px
          color #555
          .bg-18
            margin-right 20px
            margin-top 6px
            vertical-align: top
        .title
          line-height: 58px
          font-size: 20px
          color #489e87
          overflow hidden
          text-overflow: ellipsis
          white-space nowrap
          a
            color #489e87
        .describe
          margin-top 10px
          font-size: 16px
          color: #999
          line-height: 24px
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-line-clamp: 3
          -webkit-box-orient: vertical
          height 72px
        .read
          display: inline-block
          *display inline
          *zoom 1
          vertical-align: top
          margin-top 10px
          line-height: 30px
          font-size: 15px
          color #489e87
      .pic
        img
          width 350px
          height 232px
  .paging
    margin-top 60px

.organizing-details-page
  width 1050px
  margin-left: auto
  margin-right auto
  padding: 64px 25px 50px
  h4
    text-align: center
    font-size: 24px
    color: #333
    line-height: 55px
  .time
    padding: 10px 0
    text-align: center
    font-size: 14px
    color: #999
    line-height: 22px
    .bg-19
      vertical-align: sub
      margin-right 5px
    ul
      display: inline-block
      *display inline
      *zoom: 1
      vertical-align: top
      margin-left 10px
      li
        margin-left 5px
  .detail-contain
    margin-top 40px
    font-size: 14px
    color: #555
    line-height: 30px
  .context
    margin-top 40px
    font-size: 14px
    color: #555
    line-height: 30px
    span
      margin-right 10px
      font-weight: bold
    a
      color: #555
      &:hover
        color: #489e87
        text-decoration: underline
      
.about-us-page
  color: #555
  padding: 94px 0 100px
  .intro
    width 555px
    float left
    line-height: 30px
    color #555
    font-size: 15px
    h4
      margin-bottom 45px
      font-size: 36px
      color #333
      line-height: 36px
  .pic
    position relative
    float right
    margin-right: 32px
    margin-top 56px
    width 430px
    height 457px
    &:after
      content: ''
      position: absolute
      top: -20px
      left -20px
      border: 1px solid #1cd1aa
      width 378px
      height 414px
      z-index -1
    &:before
      content: ''
      position: absolute
      bottom: -14px
      right -19px
      background-color #1cd1aa
      width 379px
      height 411px
      z-index -1
    img
      width 430px
      height 457px
  .our-team
    margin-top 142px
    h4
      font-size: 36px
      color: #333
      line-height: 45px
      text-align: center
    p
      font-size: 20px
      color: #1cd1aa
      line-height: 34px
      text-align: center
    .list
      margin-top 30px
      li
        margin-left 30px
        img
          width 262px
          height: 310px

.contact-us-page
  padding-bottom 80px
  .contact-detail
    float left
    width 370px
    padding-top 90px
    h4
      font-weight bold
      font-size: 36px
      color #333
      line-height: 50px
    p
      font-size: 15px
      color: #555
      line-height: 30px
    .info
      margin-top 10px
      border: 1px solid #f1f1f1
      h5
        padding-left 30px
        font-size: 18px
        color #333
        line-height: 55px
        font-weight bold
        background-color #f1f1f1
      .list
        padding: 0 30px
        .item
          position relative
          padding: 13px 0 13px 40px
          font-size: 14px
          color #555
          line-height: 24px
          border-top 1px solid #f1f1f1
          &:first-child
            margin-top 0
          .icon-global
            position: absolute
            top: 18px
            left 0
          span
            font-weight bold
            font-size: 16px
            color #333
  .contact-map
    float right
    padding-top 135px
    width 763px
    height 411px
