.form-list
  font-size: 14px
  .item
    text-align: center
    dl
      width 260px
      display: inline-block
      *display: inline
      *zoom: 1
      vertical-align: top 
      text-align: left
      dt
        font-size: 14px
        color #999
        line-height: 28px
      dd
        position relative
        i
          position: absolute
          top: 50%
          left 10px
          &.bg-14
            margin-top -7px
          &.bg-15
            margin-top -7px
        input[type='text'], input[type='password']
          width 218px
          padding-left 30px


.change-password-page
  background-color: #f3f3f3
  padding: 84px 0 140px
  h2
    font-size: 30px
    color #333
    text-align: center
    line-height: 88px
  .form-list
    dt
      height 28px
      padding-top 12px
    input[type='submit']
      margin-top 30px

.sign-page
  position relative
  height 756px
  background url('../images/bg-passport.png') no-repeat top center
.order-page
  padding-top 40px
  padding-bottom 60px
  padding-left 10px
  h4
    margin-bottom 20px
    font-size: 30px
    color: #333
    line-height: 44px
    text-align: center
  .title
    font-size: 14px
    color #555
    line-height: 24px
    margin-bottom 10px
    font-weight bold
    em
      color #ff444d
    span
      float right
      color #999
  .order-form
    float left
    width 632px
    .form
      padding: 10px 19px 38px
      border: 2px solid #f3f3f3
      dl
        dt
          padding-top 13px
          line-height: 27px
          font-size: 14px
          color: #555
          em
            color: #ff444d
        dd
          input
            width 568px
      input[type='submit']
        margin-top 20px
      .two-col
        dl
          float left
          margin-left 30px
          &:first-child
            margin-left 0
          input
            width 258px
  .order-detail
    float left
    margin-left 18px
    width: 479px
    .detail
      padding-bottom 10px
      border: 2px solid #f3f3f3
      .pro
        padding: 15px 5px 5px 15px
        font-size: 0
        line-height: 0
        .pic
          display: inline-block
          *display inline
          *zoom: 1
          vertical-align: middle
          img
            width 130px
            height 130px
        .info
          margin-left 20px
          width 300px
          display: inline-block
          *display inline
          *zoom: 1
          vertical-align: middle
          font-size: 16px
          color #333
          .order-id
            line-height: 25px
          .description
            margin-top 10px
            line-height: 20px
          .spec
            margin-top 5px
            font-size: 12px
            color #555
            line-height: 24px
      .total
        padding: 0 40px
        font-size: 14px
        color #555
        line-height: 30px
        text-align: right
        .c-green
          font-weight bold
          color: #489e87
          span
            font-weight bold
        span
          float left

.pro-detail-page
  .pro-content
    padding: 45px 0
    background-color #f3f3f3
    font-size: 0
    line-height: 0
    .pro-pic
      display: inline-block
      *display inline
      *zoom 1
      vertical-align: top
      margin-right 30px
      width: 505px
      .big-pic
        position relative
        z-index: 1
        padding: 30px
        width: 445px
        height 445px
        background-color #fff
        img
          width: 445px
          height 445px
            .cell{font-size: 20px;line-height: 30px;cursor: pointer;position: absolute;}
      .pic-list
        position relative
        margin-top 5px
        .cell
          cursor pointer
          position absolute
          z-index 1
          top: 0
          width: 25px
          height 100%
          background-color #e5e7e7
          text-align: center
          line-height: 85px
          &.prevCell
            left 0
          &.nextCell
            right 0
          &:hover
            background-color #86b3a7
        .bd
          overflow hidden
          width 445px
          margin: 0 auto
          ul
            height 85px
            overflow hidden
            li
              margin-right 5px
              cursor pointer
              width: 85px
              &.active, &:hover
                width: 81px!important
                border: 2px solid #489e87
                img
                  width 81px
                  height 81px
              img
                width: 85px
                height 85px
    .pro-info
      display: inline-block
      *display inline
      *zoom 1
      vertical-align: top
      width 640px
      .pro-name
        font-size: 18px
        color: #333
        line-height: 20px
      .details
        margin-top 5px
        font-size: 14px
        color: #555
        & > div
          margin-top 10px
          line-height: 30px
          .c-green
            color: #489e87
          .star-list
            display: inline-block
            *display inline
            *zoom 1
            vertical-align: text-bottom
            margin: 0 5px 0 10px
          .img-list
            display: inline-block
            *display inline
            *zoom 1
            vertical-align: top
            margin-top 5px
            a
              float left
              margin-left 2px
              &:first-child
                margin-left 0
          .type-choose-list
            margin-left -10px
            padding: 3px 0
            .pic
              float left
              margin-left 10px
              width: 48px
              height 48px
              border: 1px solid #e1e1e1
              background-color #fff
              cursor pointer
              &:first-child
              img
                width: 48px
                height 48px
              &.on
                width 46px
                height 46px
                border: 2px solid #489f87
                img
                  width 46px
                  height 46px
          .type-list
            padding: 3px 0
          .btn
            display: block
            width 115px
            height 42px
            text-align: center
            line-height: 42px
            font-size: 24px
            color: #fff
            &.green
              background-color #489e87
            &.yellow
              background-color #ffb80e
          &.quantity
            font-size: 12px
            .stock
              margin-left 20px
            .edit
              margin: 0 10px
              position relative
              display: inline-block
              *display inline
              *zoom 1
              vertical-align: top
              padding-right 22px
              input
                width 40px
                height 28px
                text-align: center
                border-color: #a7a7ab
              span
                position: absolute
                right 0
                width 16px
                height 12px
                border: 1px solid #a7a7ab
                background-color #fff
                cursor pointer
                i
                  position: absolute
                  top: 50%
                  left 50%
                  margin-top: -1px
                  margin-left -3px
                &.add
                  top: 0
                &.sub
                  bottom: 0
          &.price
            span
              margin: 0 15px 0 7px
              font-size: 22px
              vertical-align: bottom
              font-weight: bold
            .link
              color: #489e87
              text-decoration: underline
          &.price-list
            margin-left -15px
            margin-top 5px
            ul
              display: inline-block
              *display inline
              *zoom 1
              vertical-align: top 
              padding 0 15px
              height: 90px
              overflow hidden
              background-color #fff
              li
                padding: 0 15px
                font-size: 14px
                line-height: 40px
                & > div
                  margin-top 10px
                  &:first-child
                    margin-top 0
                &:first-child
                  padding: 0
                .district
                  font-size: 16px
                .num
                  font-size: 22px
                  color #489e87
          &.desc
            p
              color: #999
              line-height: 20px
          &:first-child
            margin-top 0
          &.sell
            position relative
            .sell-pop
              display: none
              position: absolute
              top: 77px
              left 0
              z-index 1
              width: 253px
              border: 1px solid #ffb80e
              background-color #fff
              ul
                padding: 20px 30px 20px 10px
                li
                  position: relative
                  margin-top 20px
                  padding: 0 15px
                  height 36px
                  line-height: 36px
                  font-size: 16px
                  color #555
                  background-color #e1e1e1
                  border-radius: 18px
                  a
                    position: absolute
                    top: 0
                    right 0
                    width: 36px
                    height 36px
                    text-align: center
                    line-height: 36px
                    border-radius: 50%
                    font-size: 16px
                    color #fff
                    background-color #489e87
                  &:first-child
                    margin-top 0
  .pro-detail
    padding-top 40px
    padding-bottom 40px
    .nav-bar
      padding: 17px 0
      background-color #fff
      &.fixed
        position fixed
        top: 0
        left 0
        right 0
        z-index 10
        box-shadow: 0 0 8px rgba(197,197,197,0.35);
        ul
          width: 1176px
          margin: 0 auto
      li
        padding: 0 45px
        border-left 1px solid #e1e1e1
        line-height: 14px
        font-size: 16px
        a
          color #555
          &.cur, &:hover
            color: #489e87
        &:first-child
          padding-left 0
          border-left 0
    .contain
      padding: 0 40px 40px
      border 2px solid #f3f3f3
      font-size: 14px
      color #555
      img
        margin: 10px auto
      .table-list
        border: 1px solid #e8e8e8
        text-align: left
        table
          table-layout: fixed;
          tr
            border-top 1px solid #e8e8e8
            &:first-child
              border-top 0
            th
              width 210px
              padding: 7px 20px
              line-height: 21px
              background-color #f3f3f3
            td
              padding: 7px 20px
              line-height: 21px
              &.border-left
                border-left 1px solid #e8e8e8
      .description
        .text
          margin-top 10px
          line-height: 34px
      .faq
        padding-bottom 40px
        .paging
          margin-top 40px
        .quiz
          position: relative
          height 97px
          background-color: #489e87
          a
            position: absolute
            top: 50%
            left 50%
            margin: -25px 0 0 -161px
            display: block
            width 322px
            height 50px
            line-height: 50px
            text-align: center
            font-size: 24px
            color #fff
            background-color rgb(188,249,233)
            background-color rgba(188,249,233,0.34)
            border-radius: 25px
        .faq-list
          margin-top 20px
          line-height: 20px
          .item
            margin-top 30px
            &:first-child
              margin-top 0
            dl
              position relative
              margin-top 10px
              padding-left 86px
              &:first-child
                margin-top 0
                dd
                  color #489e87
              dt
                position: absolute
                top: 0
                left 0
                font-weight: bold
              dd
                .text
                  color #666
                .time
                  margin-top 10px
                  color #999
      .comment
        .form
          padding: 20px 15px
          line-height: 30px
          font-size: 14px
          color #555
          background-color #f9f9f9
          border 1px solid #f3f3f3
          img
            display: inline
            vertical-align: top
            margin: 0 0 0 10px
            width 78px
            height 30px
          input
            height 28px
            line-height: 28px
            &.e-mail
              width 142px
            &.code
              width 76px
          input[type='submit']
            display: block
            margin-top 20px
            width 100px
            height 30px
            line-height: 30px
            font-size: 16px
          textarea
            width: 700px
            height 95px
          .star-list
            padding: 9px 0
            .star
              cursor pointer
          dl
            position relative
            padding-left 70px
            dt
              position absolute
              top: 0
              left 0
      .review
        .review-list
          font-size: 14px
          color: #555
          .item
            margin-top 35px
            &:first-child
              margin-top 0
            .star-total
              .star-list
                display: inline-block
                *display inline
                *zoom 1
                vertical-align: top 
            .customer
              margin-top 15px
            .content
              margin-top 22px
              color: #666
        .paging
          margin-top 50px
      .tab-column
        &.fixed
          padding-top 48px
        .title
          font-size: 20px
          color #333
          line-height: 78px
          text-align: center
    .history
      padding-top 20px
      h5
        line-height: 40px
        font-size: 16px
        color #333
      .list
        position relative
        padding: 19px 71px 14px
        border 2px solid #f3f3f3
        font-size: 14px
        color #555
        .box
          overflow hidden
        .handle
          position: absolute
          top: 0
          bottom: 0
          width: 50px
          cursor pointer
          &.prevCell
            left 0
          &.nextCell
            right 0
          .icon-arrow
            position: absolute
            top: 50%
            left 50%
            margin-top: -18px
            margin-left -10px
          &:hover .prev
            background-position 0 -36px
          &:hover .next
            background-position -20px -36px

        ul
          li
            width 190px
            margin-right:  90px
            .pic
              width 114px
              height 114px
              margin 0 auto
              img
                width 114px
                height 114px
            .name
              margin-top 8px
              line-height: 17px
              height 51px
              overflow: hidden
              text-overflow: ellipsis
              display: -webkit-box
              -webkit-line-clamp: 3
              -webkit-box-orient: vertical
            .price
              line-height: 30px
              span
                color: #489e87
                font-weight: bold


.pro-list-page
  background-color #f3f3f3
  h4
    line-height: 86px
    font-size: 30px
    color: #333
    text-align: center
  .column
    padding-bottom 60px
    .column-banner
      height 580px
      background-position top center
      background-repeat: no-repeat
    .tab-list
      padding: 42px 0
      font-size: 0
      line-height: 0
      text-align: center
      li
        position relative
        display: inline-block
        *display inline
        *zoom: 1
        padding: 0 3px
        vertical-align: top
        margin-left 20px
        font-size: 14px
        color #555
        line-height: 28px
        cursor pointer
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 50%
          width 0
          height 2px
          background-color #4c9582
          transition: all .15s linear
        &:first-child
          margin-left 0
        &.cur, &:hover
          color: #4c9582
          &:after
            width 100%
            margin-left -50%
    .pro-list
      margin-left -32px
      margin-top -32px
      li
        margin-left 32px
        margin-top 32px
        padding: 0 14px
        width 242px
        height: 460px
        background-color #fff
        text-align: center
        font-size: 14px
        color #555
        transition: all 0.3s linear
        &:hover
          box-shadow: 0 0 10px rgba(114, 114, 114, 0.35)
          transform translate3d(0, -5px, 0)
          .pic
            img
              opacity 1
              &:first-child
                opacity 0
        .pic
          width 242px
          height 242px
          position relative
          padding 44px 0 54px
          img
            position: absolute
            top: 44px
            left 0
            width 242px
            height 242px
            opacity 0
            transition: all 0.3s linear
            &:first-child
              opacity 1
        .star-list
          margin: 0 auto
        .name
          margin-top 6px
          line-height: 20px
          overflow: hidden
          text-overflow: ellipsis
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
        .price
          margin-top 6px
          span
            margin-left 15px
            color #489e87
            font-family 'Arial'
            line-height: 24px
            &:first-child
              margin-left 0
              color: #999
              text-decoration: line-through
    .loadmore
      display: block
      margin: 40px auto 0
      width 258px
      height 34px
      line-height: 34px
      text-align: center
      border: 1px solid #489e87
      font-size: 18px
      color #86b3a7
      transition: all 0.15s linear
      &:hover
        background-color #489e87
        color: #fff