<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <title>Document</title>
  <link rel="stylesheet" href="__CSS__/reset.css">
  <link rel="stylesheet" href="__CSS__/global.css">

  <script src="__JS__/jquery-1.10.1.min.js"></script>
  <script src="__JS__/fontSize.js"></script>
  <script src="__STATIC__/layer/layer.js"></script>

</head>
<body>
  <div class="page">
    <div class="header">
      <span class="slot-left"><i class="icon-global bg-1"></i></span>
      <img class="logo" src="__IMG__/logo.png">
    </div>
  <!-- header -->