
<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link href="__CSS__/swiper.min.css" rel="stylesheet">
<script src="__JS__/swiper.min.js"></script>

   <div class="page-scroll">
      <div class="index-page">
        <div class="swiper-container">
          <div class="swiper-wrapper">
             <?php foreach ($banner_list as $key => $value): ?>
               <div class="swiper-slide"><a href="<?=$value['url'] ?>"><img src="<?=$value['path'] ?>"></a></div>
              <?php endforeach ?>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="advertising">
          <ul>
             <?php foreach ($rotation_list as $key => $value): ?>
                <li><a href="{:U('item/detail?id='.$value['value'])}"><img src="<?=$value['path'] ?>"></a></li>
              <?php endforeach ?>
          </ul>
        </div>
        <div class="categray">
          <h5>Product Categories</h5>
          <ul>
          <?php foreach ($categories_list as $key => $value): ?>
            <li><a href="{:U('Item/lists')}#Floor<?= $value['value'] ?>"><img src="<?=$value['path'] ?>"></a></li>
           <?php endforeach ?>
          </ul>
        </div>
        <div class="hot-product">
          <h5>Product Categories</h5>
          <ul>
             <?php foreach ($hot_product_list as $key => $value): ?>
            <li>
              <a href="{:U('item/detail?id='.$value['value'])}">
              <div class="pic"><img src="<?=$value['path'] ?>"></div>
              <div class="name"><?=$value['title'] ?></div>
              <div class="desc"><?=$value['desc'] ?></div>
              </a>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>

        <div class="about-us">
          <h5>About Us</h5>
          <div class="content">
              <?= $data['content'] ?>
              <a class="loadmore" href="{:U('About/us')}">MORE+</a>
          </div>
        </div>
      </div>


  <script>
    var mySwiper = new Swiper('.swiper-container', {
      autoplay: true,//可选选项，自动滑动
      pagination: {
        el: '.swiper-pagination',
      },
      loop: true
    })
  </script>

<include file="Public/footer" />