@import './icon'
@import './animation'
.icon-global
  background-image url('../images/css_sprites.png') !important
  display: inline-block
  vertical-align: middle

.icon-share
  background-image url('../images/icon-share.png')
  width: 20px
  height 20px
  display: inline-block
  *display inline
  *zoom 1
  background-position 0 0
  &.collection
    background-position 0 0
  &.facebook
    background-position -25px 0
  &.twitter
    background-position -50px 0
  &.linkedin
    background-position -75px 0
  &:hover.collection, &.already
    background-position 0 -23px
  &:hover.facebook
    background-position -25px -23px
  &:hover.twitter
    background-position -50px -23px
  &:hover.linkedin
    background-position -75px -23px

.wrap
  width: 1200px
  margin-left auto
  margin-right auto

.wrapper
  width: 1176px
  margin-left auto
  margin-right auto

.wrapper-list
  width: 1110px
  margin-left auto
  margin-right auto

.positionR
  position relative

input[type='text'], input[type='password']
  padding: 0 10px
  width 238px
  height 38px
  line-height 38px
  font-size: 14px
  background-color #fff
  border: 1px solid #eee

select
  padding: 0 10px
  width 260px
  height 40px
  font-size: 14px
  background-color #fff
  border: 1px solid #eee
  outline: none

.check-box
  cursor pointer
  display: inline-block
  *display inline
  *zoom: 1
  vertical-align: top
  .icon-global
    display: inline-block
    *display inline
    *zoom: 1
    vertical-align: sub
  .bg-27
    display: none
  &.on
    .bg-26
      display: none
    .bg-27
      display: inline-block
      *display inline
      
input[type='submit']
  padding: 0
  width 260px
  height 40px
  cursor pointer
  border: 0
  font-size: 18px
  color: #fff
  background-color #489e87

textarea
  display: block
  width 568px
  height 138px
  border: 1px solid #e1e1e1
  resize: none
  padding: 10px
  line-height 20px
  font-size: 14px

.banner
  position relative
  height 816px
  overflow hidden
  .bd
    position: absolute
    height 100%
    left 50%
    margin-left -1000px
    width: 2000px
    text-align: center
    li
      position: relative
      overflow: hidden
      img
        margin: 0 auto
  .hd
    position: absolute
    z-index: 20
    bottom: 40px
    width: 100%
    text-align: center
    li
      display: inline-block
      *display inline
      *zoom 1
      width: 30px
      height: 2px
      background: #fff
      margin: 0 3px
      // opacity: 0.8
      cursor: pointer
      transition: all 0.3s linear
      &.on, &:hover
        width: 50px
        height: 3px
        background-color: #6dddbf

// 头部
.header-box
  height 81px
.header
  position: relative
  top: 0
  left 0
  right 0
  z-index: 999;
  font-size: 13px
  font-family 'Arial'
  height 81px
  &.index.header-abs
    .logo
      display: block
    .logo-white
      display none
  &.header-abs
    background-color transparent
    position absolute
    .logo, .logo-white
      top: 35px
    .logo
      display none
    .logo-white
      display: block
    ul
      top: 56px
    .sign
      top: 56px
  &.fixed
    position fixed
    top: -81px
    background-color #fff
    box-shadow: 0 0 8px rgba(197, 197, 197, 0.35)
    .logo, .logo-white
      top: 10px
    .logo
      display: block
    .logo-white
      display: none
    ul
      top: 28px
      li
        a
          color: #86b3a7
    .sign
      top: 32px
      a
        color: #86b3a7
  &.finish
    top: 0
  .logo, .logo-white
    position absolute
    top: 10px
    left 12px
  .logo
    display: block
  .logo-white
    display: none
  ul
    position absolute
    top: 28px
    left 270px
    li
      position relative
      line-height: 25px
      margin-left 20px
      text-align: center
      position relative
      .link
        opacity 0
        content: ''
        position: absolute
        bottom: 0
        left 50%
        width: 0
        height 2px
        background-color #86b3a7
        transition: all .3s linear
        font-size: 0
        line-height: 0
      &:hover
        .link
          opacity 1
          margin-left -50%
      .nav-list
        display: none
        position absolute
        top: 100%
        left 0
        padding-bottom 8px
        padding-top 5px
        background-color #86b3a7
        white-space: nowrap
        text-align: left
        a:hover
          background-color #489e87
        .nav-item
          position relative
          &:before
            content: ''
            position: absolute
            left 4px
            right 4px
            top: 0
            height 1px
            background-color #98c4b8
          &:first-child:before
            display: none
          .sub-menu
            position relative
            padding: 5px 33px 5px 12px
            line-height: 30px
            transition: all .1s linear
            color #fff
            .bg-3
              position: absolute
              right 10px
              top: 50%
              margin-top -4px
            .bg-4
              position: absolute
              right 10px
              top: 50%
              margin-top -7px
          .subnav
            display: none
            .third-menu
              color #fff
              padding: 0 25px
              line-height: 30px
              transition: all .1s linear
      a
        display: block
        padding: 0 10px
        color #86b3a7
      &:first-child
        margin-left 0
      &.cur, &:hover
        a
          color #489e87
  .sign
    position absolute
    top: 32px
    right 0
    a
      float left
      color #4c9582
      padding: 0 15px
      &:first-child
        border-right: 1px solid #6c8881
  .bg-1, .bg-16
    margin-right 8px
  .bg-2, .bg-17
    margin-right 5px
  .bg-33
    margin-right 8px

// 底部
.footer
  font-size: 13px
  color: #777
  .siteinfo
    background-color #232323
    padding-top 70px
    padding-bottom 40px
    a
      color: #777
      &:hover
        color: #489e87
    h4
      font-size: 24px
      color #f3f3f3
      line-height: 36px
      font-weight bold
    .contact-us
      float left
      padding-left 12px
      width 368px
      line-height: 15px
      background: url('../images/bg-footer-map.png') no-repeat 0 60px
      p
        position relative
        padding-left 20px
        margin-top 24px
        &:hover
          color: #489e87
        i
          position: absolute
          top: 0
          left 0
      .time
        margin-top 54px
        line-height: 24px
        p
          padding-left 0
    .our-company
      float left
      width 400px
      margin-left 55px
      ul
        margin-top 25px
        li
          position relative
          padding-left 40px
          line-height: 40px
          .bg-13
            position: absolute
            top: 50%
            left 7px
            margin-top -3px
      .friendlink
        margin-top 42px
        padding 0 15px
        a
          float left
          margin-left 7px
          &:first-child
            margin-left 0
    .suggest
      float right
      width 354px
      .item
        position relative
        margin-top 15px
        padding-left 90px
        line-height: 30px
        label
          position absolute
          top: 0
          left 0
        input, textarea
          padding: 0 10px
          width: 226px
          line-height: 28px
          background-color #1f1f1f
          border 1px solid #575757
          resize: none
          vertical-align: top
          font-size: 14px
          color #777
        input
          height 28px
        textarea
          height 106px
          padding: 4px 10px
          line-height: 20px
        input[type='submit']
          padding: 0
          border: 0 none 
          background-color #489e87
          width 100px
          height 30px
          line-height: 30px
          font-size: 16px
          color #fff
          cursor pointer
  .copyright
    padding: 14px 0 28px
    line-height: 25px
    text-align: center
    background-color #1b1b1b
    
// 分页
.paging
  text-align: center
  font-size: 0
  line-height: 0
  a
    display: inline-block
    *display inline
    *zoom: 1
    padding-left 9px
    padding-right 9px
    font-size: 16px
    line-height: 40px
    height 40px
    white-space nowrap
    min-width: 22px
    color: #e3e3e3
    border: 1px solid #e2e2e2
    background-color #fff
    transition: all 0.2s linear
    margin-left 20px
    border-radius: 3px
    &:first-child
      margin-left 0
    &.cur, &:hover
      color: #fff
      border-color: #489e87
      background-color #489e87
    &.disabled
      color: #e3e3e3
      background-color #fff
      border-color: #e2e2e2
      cursor not-allowed

.pop
  display: none
  position: fixed
  top: 0
  left 0
  right 0
  bottom: 0
  z-index 1000
  &:after
    content: ''
    position: absolute
    top: 0
    left 0
    right 0
    bottom: 0
    background:#000
    *filter: unquote('alpha(opacity=24)')
    filter: unquote('alpha(opacity=24)\9')
    opacity: 0.24;
    z-index -1
.sign-contain
  position: absolute
  top: 50%
  left 50%
  width 485px
  height 470px
  margin: -235px 0 0 -242px
  background-color #fff
  border-radius: 3px
  .close-pop
    position: absolute
    top: 10px
    right 10px
    cursor pointer
  &.signIn
    display: block
  &.register
    display: none
    margin-top -207px
    height: 414px
    input[type='submit']
      margin-top 30px
  h2
    font-size: 30px
    color: #333
    line-height: 118px
    text-align: center
  .form-list
    .item.p-top-15
      padding-top 15px
    label
      white-space: nowrap
      height 42px
      line-height: 42px
      input[type='checkbox']
        vertical-align: middle
        margin-right 8px
    .toSignIn
      line-height: 20px
      text-decoration: underline
      color: #489e87
    p
      margin-top 10px
      line-height 20px
      a
        color: #489e87

  .forgot
    line-height: 44px
    &:hover
      color: #489e87

.star-list
  width 73px
  &.big
    width 105px
    .star
      width 19px
      height 17px
      background-position -21px -14px
      &.on
        background-position 0 -14px
  .star
    margin-left 2px
    float left
    vertical-align: top 
    width 13px
    height 12px
    background-image url('../images/icon-star.png')
    background-position -15px 0
    &:first-child
      margin-left 0
    &.on
      background-position 0 0

.icon-arrow
  display: inline-block
  *display inline
  *zoom 1
  vertical-align: middle
  width: 20px
  height 36px
  background-image: url('../images/icon-arrow.png')
  background-repeat no-repeat
  &.prev
    background-position 0 0
  &.next
    background-position -20px 0
  &:hover.prev
    background-position 0 -36px
  &:hover.next
    background-position -20px -36px

.unread::before
  content: '* '
  color: #f33b44
  vertical-align: sub
  line-height: 0