.bg-30 {
    width: 14px; height: 24px;
    background: -149px -10px;
}

.bg-31 {
    width: 14px; height: 24px;
    background: -149px -54px;
}

.bg-32 {
    width: 25px; height: 25px;
    background: -10px -71px;
}

.bg-33 {
    width: 19px; height: 14px;
    background: -51px -116px;
}

.bg-1 {
    width: 15px; height: 17px;
    background: -220px -10px;
}

.bg-2 {
    width: 16px; height: 16px;
    background: -183px -84px;
}

.bg-3 {
    width: 13px; height: 7px;
    background: -220px -154px;
}

.bg-10 {
    width: 11px; height: 15px;
    background: -255px -10px;
}

.bg-11 {
    width: 16px; height: 16px;
    background: -10px -151px;
}

.bg-12 {
    width: 16px; height: 13px;
    background: -10px -187px;
}

.bg-13 {
    width: 13px; height: 6px;
    background: -183px -120px;
}

.bg-20 {
    width: 17px; height: 15px;
    background: -154px -151px;
}

.bg-27 {
    width: 15px; height: 15px;
    background: -220px -84px;
}

.bg-28 {
    width: 7px; height: 3px;
    background: -255px -111px;
}

.bg-26 {
    width: 15px; height: 15px;
    background: -220px -119px;
}

.bg-29 {
    width: 7px; height: 3px;
    background: -255px -134px;
}

.bg-19 {
    width: 16px; height: 16px;
    background: -46px -151px;
}

.bg-4 {
    width: 7px; height: 13px;
    background: -255px -78px;
}

.bg-25 {
    width: 20px; height: 20px;
    background: -55px -71px;
}

.bg-18 {
    width: 17px; height: 17px;
    background: -183px -10px;
}

.bg-17 {
    width: 16px; height: 16px;
    background: -82px -151px;
}

.bg-5 {
    width: 19px; height: 32px;
    background: -71px -10px;
}

.bg-6 {
    width: 19px; height: 32px;
    background: -110px -10px;
}

.bg-7 {
    width: 19px; height: 11px;
    background: -90px -116px;
}

.bg-8 {
    width: 19px; height: 11px;
    background: -129px -116px;
}

.bg-9 {
    width: 41px; height: 41px;
    background: -10px -10px;
}

.bg-21 {
    width: 16px; height: 16px;
    background: -118px -151px;
}

.bg-22 {
    width: 21px; height: 15px;
    background: -10px -116px;
}

.bg-23 {
    width: 17px; height: 17px;
    background: -183px -47px;
}

.bg-24 {
    width: 20px; height: 20px;
    background: -95px -71px;
}

.bg-16 {
    width: 15px; height: 17px;
    background: -220px -47px;
}

.bg-15 {
    width: 12px; height: 14px;
    background: -10px -220px;
}

.bg-14 {
    width: 10px; height: 13px;
    background: -255px -45px;
}