

.bg-8 {
    width: 19px; height: 11px;
    background: url('css_sprites.png') -83px -148px;
}


.bg-9 {
    width: 41px; height: 41px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-10 {
    width: 11px; height: 15px;
    background: url('css_sprites.png') -220px -44px;
}


.bg-11 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -84px -111px;
}


.bg-12 {
    width: 16px; height: 13px;
    background: url('css_sprites.png') -10px -184px;
}


.bg-13 {
    width: 13px; height: 6px;
    background: url('css_sprites.png') -149px -118px;
}


.bg-14 {
    width: 10px; height: 13px;
    background: url('css_sprites.png') -220px -79px;
}


.bg-15 {
    width: 12px; height: 14px;
    background: url('css_sprites.png') -220px -10px;
}


.bg-16 {
    width: 15px; height: 17px;
    background: url('css_sprites.png') -185px -10px;
}


.bg-17 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -149px -10px;
}


.bg-18 {
    width: 17px; height: 17px;
    background: url('css_sprites.png') -10px -111px;
}


.bg-19 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -149px -46px;
}


.bg-20 {
    width: 17px; height: 15px;
    background: url('css_sprites.png') -46px -148px;
}


.bg-21 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -149px -82px;
}


.bg-22 {
    width: 21px; height: 15px;
    background: url('css_sprites.png') -90px -71px;
}


.bg-23 {
    width: 17px; height: 17px;
    background: url('css_sprites.png') -47px -111px;
}


.bg-24 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -10px -71px;
}


.bg-25 {
    width: 20px; height: 20px;
    background: url('css_sprites.png') -50px -71px;
}


.bg-26 {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -185px -84px;
}


.bg-27 {
    width: 15px; height: 15px;
    background: url('css_sprites.png') -185px -119px;
}


.bg-29 {
    width: 7px; height: 3px;
    background: url('css_sprites.png') -220px -145px;
}


.bg-28 {
    width: 7px; height: 3px;
    background: url('css_sprites.png') -220px -168px;
}


.bg-1 {
    width: 15px; height: 17px;
    background: url('css_sprites.png') -185px -47px;
}


.bg-2 {
    width: 16px; height: 16px;
    background: url('css_sprites.png') -10px -148px;
}


.bg-3 {
    width: 13px; height: 7px;
    background: url('css_sprites.png') -185px -154px;
}


.bg-4 {
    width: 7px; height: 13px;
    background: url('css_sprites.png') -220px -112px;
}


.bg-5 {
    width: 19px; height: 32px;
    background: url('css_sprites.png') -71px -10px;
}


.bg-6 {
    width: 19px; height: 32px;
    background: url('css_sprites.png') -110px -10px;
}


.bg-7 {
    width: 19px; height: 11px;
    background: url('css_sprites.png') -122px -148px;
}