<!-- {:W('Category/lists', array(1, true))}
{:U('Article/detail?id='.$article['id'])}
{$article.description}
 {$article.create_time|date='Y-m-d H:i',###} -->
<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/index.css">

  <!-- banner -->
  <div class="banner">
    <div class="hd">
      <ul>
        <?php foreach ($banner_list as $key => $value): ?>
          <li class=""></li>
        <?php endforeach ?>
      </ul>
    </div>
    <div class="bd">
      <ul>
        <?php foreach ($banner_list as $key => $value): ?>
          <li><a href="<?=$value['url'] ?>"><img src="<?=$value['path'] ?>"></a></li>
        <?php endforeach ?>
      </ul>
    </div>
  </div>
  <!-- banner -->

  <div class="wrapper">
    <!-- 轮播区 -->
    <div class="swiper">
      <div class="swiper-view">
        <ul class="clearfix">
         <?php foreach ($rotation_list as $key => $value): ?>
                <li><a href="{:U('item/detail?id='.$value['value'])}" target="_blank"><img src="<?=$value['path'] ?>"></a></li>
         <?php endforeach ?>
          </ul>
      </div>
      <div class="arrow">
        <div class="prev">
            <i class="bg-5 icon-global"></i>
          </div>
        <div class="next">
            <i class="bg-6 icon-global"></i>
        </div>
      </div>
    </div>
    <!-- 轮播区 -->
    <!-- 分类区 -->
    <div class="category">
      <h4 data-aos="zoom-in">Product Categories</h4>
      <div class="list">
        <div class="big box" data-aos="fade-up-left">
          <a href="{:U('Item/lists')}#Floor<?= $categories_list[0]['value'] ?>">
            <img src="<?=$categories_list[0]['path'] ?>">
            <div class="mask">
              <p><?=$categories_list[0]['name'] ?><i class="icon-global bg-9"></i></p>
            </div>
          </a>
        </div>
        <ul class="clearfix">
          <?php foreach ($categories_list as $key => $value):
          if ($key === 0 ) continue;
          ?>
          <?php if ($key === 1): ?>
              <li class="box" data-aos="fade-up-right">
                <a href="{:U('Item/lists')}#Floor<?= $value['value'] ?>">
                  <img src="<?=$value['path'] ?>">
                  <div class="mask">
                    <p><?=$value['name'] ?><i class="icon-global bg-9"></i></p>
                  </div>
                </a>
              </li>
              <?php else: ?>
              <li class="box" data-aos="fade-up-right"><a href="{:U('Item/lists')}#Floor<?= $value['value'] ?>"><img src="<?=$value['path'] ?>"><div class="mask">
                    <p><?=$value['name'] ?><i class="icon-global bg-9"></i></p>
                  </div></a></li>
              <?php endif ?>
          <?php endforeach; ?>
        </ul>
      </div>
    </div>
    <!-- 分类区 -->
  </div>

  <div class="hot-product">
    <h4 data-aos="zoom-in">Hot Product</h4>
    <div class="wrapper">
      <div class="list">
       <?php foreach ($hot_product_list as $key => $value): ?>
        <?php if ($key%2 ===0): ?>
            <a href="{:U('item/detail?id='.$value['value'])}" target="_blank"><div class="item">
              <div class="cell" data-aos="fade-right">
                <div class="text">
                  <h5><?=$value['title'] ?></h5>
                  <p><?=$value['desc'] ?></p>
                </div>
              </div>
              <div class="cell" data-aos="fade-left">
                <img src="<?=$value['path'] ?>">
              </div>
              <i class="icon-global bg-7"></i>
            </div></a>
        <?php else: ?>
          <a href="{:U('item/detail?id='.$value['value'])}" target="_blank"><div class="item even">
          <div class="cell" data-aos="fade-right">
              <img src="<?=$value['path'] ?>">
          </div>
          <div class="cell" data-aos="fade-left">
                <div class="text">
                    <h5><?=$value['title'] ?></h5>
                    <p><?=$value['desc'] ?></p>
                  </div>
                </div>
          <i class="icon-global bg-8"></i>
        </div></a>
        <?php endif ?>
      <?php endforeach; ?>

      </div>
    </div>
  </div>

  <div class="about-us">
    <div class="wrapper">
        <h4 data-aos="zoom-in">About Us</h4>
       <?= $data['content'] ?>
    </div>
  </div>

<include file="Public/footer" />