<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <div class="main-title cf">
        <h2>
            新增商品
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">基础</a></li>
        <li data-tab="tab2" ><a href="javascript:void(0);">图片</a></li>
        <li data-tab="tab3" ><a href="javascript:void(0);">Description</a></li>
        <li data-tab="tab4" ><a href="javascript:void(0);">Packaging Shipp</a></li>
        </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('update')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">

          <div class="form-item cf">
                    <label class="item-label">所属分类<span class="check-tips"></span></label>
                    <div class="controls">
                    <select name="category_id">
                                <?php foreach ($type as $key => $value): ?>
                                    <option value="<?= $value['id'] ?>" <?php if ($pdata['category_id'] ==$value['id']): ?>selected<?php endif ?>><?= $value['name'] ?></option>
                                <?php endforeach ?>
                    </select>
                    </div>
            </div>

            <div class="form-item cf">
                    <label class="item-label">名称</label>
                    <div class="controls">
                         <textarea name="name" rows="5" cols="55"></textarea>
                    </div>
            </div>

               <div class="form-item cf">
                    <label class="item-label">sku<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" value="" name="sku" class="text input-large">                    </div>
                </div>

                  <div class="form-item cf">
                    <label class="item-label">NO<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" value="" name="amazon" class="text input-large">                    </div>
                </div>

                     <div class="form-item cf">
                    <label class="item-label">star<span class="check-tips">(数字 1-5)</span></label>
                    <div class="controls">
                        <input type="text" value="" name="star" class="text input-large" maxlength="1">                    </div>
                </div>

             <div class="form-item cf">
                    <label class="item-label">未登录价格<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" value="" name="bulky_price" class="text input-large">                    </div>
                </div>



                               <div class="form-item cf">
                    <label class="item-label">价格区间<span class="check-tips">单个写0  多个用英文,号分离 例如：1-100,101-300,301-500,501-999</span></label>
                    <div class="controls">
                        <input type="text" value="" name="price_range" class="text input-large">                    </div>
                </div>

                   <div class="form-item cf">
                    <label class="item-label">价格区间值<span class="check-tips">多个用英文,号分离 例如：500,400,300,99</span></label>
                    <div class="controls">
                        <input type="text" value="" name="price" class="text input-large">                    </div>
                </div>

                 <div class="form-item cf">
                    <label class="item-label">库存<span class="check-tips">(数字)</span></label>
                    <div class="controls">
                        <input type="text" value="" name="stock" class="text input-large">                    </div>
                </div>

    <div class="form-item cf">
                    <label class="item-label">运费<span class="check-tips">(数字,最多2位小数)</span></label>
                    <div class="controls">
                        <input type="text" value="" name="shipping" class="text input-large">                    </div>
                </div>

                    <div class="form-item cf">
                    <label class="item-label">税费<span class="check-tips">(数字 输入20 就是20% )</span></label>
                    <div class="controls">
                        <input type="text" value="" name="taxex" class="text input-large">                    </div>
                </div>

                   <div class="form-item cf">
                    <label class="item-label">规格名称<span class="check-tips">(例如：Color)</span></label>
                    <div class="controls">
                        <input type="text"
                        <?php if ($_GET['pid']): ?>
                          value="<?= $pdata['spec'] ?>"  readonly="true"  style="background:#CCCCCC"
                        <?php endif ?>
                        name="spec" class="text input-large">
                        </div>
                </div>

                   <div class="form-item cf">
                    <label class="item-label">规格参数名称<span class="check-tips">(例如：Beige)</span></label>
                    <div class="controls">
                        <input type="text" value="" name="spec_name" class="text input-large">                    </div>
                </div>

            <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="radio">
                                <input type="radio" name="status" value="1" checked>启用
                        </label>
                        <label class="radio">
                                <input type="radio" name="status" value="0">停用
                        </label>
                    </div>
            </div>

           <!--  <div class="form-item cf">
                <label class="item-label">推荐商品<span class="check-tips"></span></label>
                <div class="controls">
                    <label class="checkbox"><input type="checkbox" name="position[]" value="1">首页轮播推荐 </label>
                    <label class="checkbox"><input type="checkbox" name="position[]" value="2">首页推荐 </label>
                </div>
            </div> -->

                <div class="form-item cf">
                    <label class="item-label">排序<span class="check-tips">数字越大越前，默认按id倒序</span></label>
                    <div class="controls">
                        <input type="text" value="0" name="sort" class="text input-large">                    </div>
                </div>



        <!--     <div class="form-item cf">
                    <label class="item-label">textarea框<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="textarea input-large">
                                <textarea name="description"></textarea>
                        </label>
                      </div>
             </div> -->

<!--             <div class="form-item cf">
                    <label class="item-label">单选框<span class="check-tips"></span></label>
                    <div class="controls">
                    <select name="type">
                                <option value="1">目录</option>
                                <option selected="" value="2">主题</option>
                                <option value="3">段落</option>
                    </select>
                    </div>
            </div> -->



   <!--          <div class="form-item cf">
                    <label class="item-label">创建时间<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" placeholder="请选择时间" value="" class="text time" name="create_time">
                    </div>
            </div> -->

<!--             <div class="form-item cf">
                    <label class="item-label">截至时间<span class="check-tips">（0-永久有效）</span></label>
                    <div class="controls">
                        <input type="text" placeholder="请选择时间" value="" class="text time" name="deadline">
                    </div>
             </div> -->

     </div>
       <!-- tab-1 end -->
            <!-- tab-2 start -->
            <div class="tab-pane  tab2" id="tab2">
            <div class="form-item cf">
                    <label class="item-label">商品图片<span class="check-tips"></span></label>
                    <div class="controls">
                        <div class="controls">
                                    <input type="file" id="upload_picture_2">
                                    <input type="hidden" name="picture_2" id="picture_2"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_2">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                         <div class="controls">
                                    <input type="file" id="upload_picture_3">
                                    <input type="hidden" name="picture_3" id="picture_3"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_3">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                          <div class="controls">
                                    <input type="file" id="upload_picture_4">
                                    <input type="hidden" name="picture_4" id="picture_4"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_4">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                          <div class="controls">
                                    <input type="file" id="upload_picture_5">
                                    <input type="hidden" name="picture_5" id="picture_5"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_5">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                          <div class="controls">
                                    <input type="file" id="upload_picture_6">
                                    <input type="hidden" name="picture_6" id="picture_6"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_6">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                           <div class="controls">
                                    <input type="file" id="upload_picture_7">
                                    <input type="hidden" name="picture_7" id="picture_7"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_6">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                            <div class="controls">
                                    <input type="file" id="upload_picture_8">
                                    <input type="hidden" name="picture_8" id="picture_8"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_8">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                            <div class="controls">
                                    <input type="file" id="upload_picture_9">
                                    <input type="hidden" name="picture_9" id="picture_9"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_9">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>

                            <div class="controls">
                                    <input type="file" id="upload_picture_10">
                                    <input type="hidden" name="picture_10" id="picture_10"/>
                                    <div class="upload-img-box">
                                    <notempty name="picture_10">
                                        <div class="upload-pre-item"><img src="{get_cover='path'}"/></div>
                                    </notempty>
                                    </div>
                        </div>


                        <script type="text/javascript">
                                          /* 初始化上传插件 */
                            $("#upload_picture_2").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_2
                                });

                                function uploadPicture_2(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_2").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_2").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_3").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_3
                                });

                                function uploadPicture_3(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_3").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_3").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_4").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_4
                                });

                                function uploadPicture_4(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_4").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_4").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_5").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_5
                                });

                                function uploadPicture_5(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_5").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_5").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_6").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_6
                                });

                                function uploadPicture_6(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_6").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_6").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }

                                }
                          /* 初始化上传插件 */
                            $("#upload_picture_7").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_7
                                });

                                function uploadPicture_7(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_7").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_7").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                    /* 初始化上传插件 */
                            $("#upload_picture_8").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_8
                                });

                                function uploadPicture_8(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_8").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_8").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                    /* 初始化上传插件 */
                            $("#upload_picture_9").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_9
                                });

                                function uploadPicture_9(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_9").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_9").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                    /* 初始化上传插件 */
                            $("#upload_picture_10").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_10
                                });

                                function uploadPicture_10(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_10").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_10").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }
                        </script>
                        </div>
                </div>
                    <div class="form-item cf">
                    <label class="item-label">商品列表翻转后图片<span class="check-tips"></span></label>
                    <div class="controls">
                                    <input type="file" id="upload_picture_1">
                                    <input type="hidden" name="rollover_img" id="rollover_img" value="<?= $data['rollover_img'] ?>"/>
                                    <div class="upload-img-box">
                                        <notempty name="data['rollover_img']">
                                        <div class="upload-pre-item"><img src=""/></div>
                                    </notempty>
                                    </div>
                        </div>
                </div>
<script type="text/javascript">
                       /* 初始化上传插件 */
                            $("#upload_picture_1").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_1
                                });

                                function uploadPicture_1(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#rollover_img").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#rollover_img").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }
</script>
        </div>
        <!-- tab-2 end -->
        <!-- tab-3 start -->
        <div class="tab-pane  tab3" id="tab3">

            <div class="form-item cf">
                    <label class="item-label">Description</label>
                    <div class="controls">
                         <textarea name="description" rows="5" cols="100" maxlength="5000"></textarea>
                    </div>
            </div>

            <div class="form-item cf">
            <label class="item-label">详情内容<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="content" style="display: none;"></textarea>
            <input type="hidden" value="0" name="parse">
            <link href="/Public/static/kindeditor/default/default.css" rel="stylesheet">
            <script src="/Public/static/kindeditor/kindeditor-min.js" charset="utf-8"></script>
            <script src="/Public/static/kindeditor/zh_CN.js" charset="utf-8"></script>
            <script type="text/javascript">
                 var editor_content;
                KindEditor.ready(function(K) {
                    editor_content = K.create('textarea[name="content"]', {
                        allowFileManager : false,
                        themesPath: K.basePath,
                        width: '100%',
                        height: '800px',
                        resizeType: 1,
                        pasteType : 2,
                        urlType : 'absolute',
                        fileManagerJson : '{:U('fileManagerJson')}',
                        uploadJson : '{:addons_url("EditorForAdmin://Upload/ke_upimg")}',
                        extraFileUploadParams: {
                             session_id : '{:session_id()}'
                        }
                    });
                });

                $(function(){
                    //传统表单提交同步
                    $('textarea[name="content"]').closest('form').submit(function(){
                        editor_content.sync();
                    });
                    //ajax提交之前同步
                    $('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
                        editor_content.sync();
                    });
                })
            </script>
                    </label>
                </div>
            </div>
        </div>
    <!-- tab-3 end -->

      <!-- tab-4 start -->
        <div class="tab-pane  tab4" id="tab4">
            <div class="form-item cf">
            <label class="item-label">Packaging Shipp<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="packaging_and_shipping" style="display: none;"></textarea>
            <input type="hidden" value="0" name="parse">
            <script type="text/javascript">
                 var editor_packaging_and;
                KindEditor.ready(function(K) {
                    editor_packaging_and = K.create('textarea[name="packaging_and_shipping"]', {
                        allowFileManager : false,
                        themesPath: K.basePath,
                        width: '100%',
                        height: '800px',
                        resizeType: 1,
                        pasteType : 2,
                        urlType : 'absolute',
                        fileManagerJson : '{:U('fileManagerJson')}',
                        uploadJson : '{:addons_url("EditorForAdmin://Upload/ke_upimg")}',
                        extraFileUploadParams: {
                             session_id : '{:session_id()}'
                        }
                    });
                });

                $(function(){
                    //传统表单提交同步
                    $('textarea[name="packaging_and_shipping"]').closest('form').submit(function(){
                        editor_packaging_and.sync();
                    });
                    //ajax提交之前同步
                    $('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
                        editor_packaging_and.sync();
                    });
                })
            </script>
                    </label>
                </div>
            </div>
        </div>
    <!-- tab-4 end -->

        <div class="form-item cf">
          <input type="hidden" name="pid" value="<?= $_GET['pid'] ?>">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
            <a href="{:U('Item/index',['pid'=>$_GET['pid']])}" class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    // $('.date').datetimepicker({
    //     format: 'yyyy-mm-dd',
    //     language:"zh-CN",
    //     minView:2,
    //     autoclose:true
    // });
    // $('.time').datetimepicker({
    //     format: 'yyyy-mm-dd hh:ii:ss',
    //     language:"zh-CN",
    //     autoclose:true,
    //     minuteStep:1,
    // });
    //

//时间显示时分秒
$('.time').datetimepicker({
    /* minView: "month",  *///选择日期后，不会再跳转去选择时分秒
    language:  'zh-CN',
    dateFormat: 'yyyy-mm-dd',//日期显示格式
    timeFormat:'HH:ii:ss',//时间显示格式
    todayBtn:  1,
    autoclose: 1,
    minView:0,  //0表示可以选择小时、分钟   1只可以选择小时
    minuteStep:1,//分钟间隔1分钟
});
    showTab();
});
</script>
</block>
