<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <div class="main-title cf">
        <h2>
            编辑规格
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">

    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('spec_update')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">
            <div class="form-item cf">
                    <label class="item-label">名称</label>
                    <div class="controls">
                        <input type="text" value="<?= $data['name'] ?>" name="name" class="text input-large">
                    </div>
            </div>

            <div class="form-item cf">
                    <label class="item-label">规格参数<span class="check-tips">(多个用英文,号 分割)</span></label>
                    <div class="controls">
                        <input type="text" value="<?= $data['spec'] ?>" name="spec" class="text input-large">  </div>
                </div>

            <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="radio">
                                <input type="radio" name="status" value="1" <?php if ($data['status'] == 1): ?>checked<?php endif ?>>启用
                        </label>
                        <label class="radio">
                                <input type="radio" name="status" value="0" <?php if ($data['status'] == 0): ?>checked<?php endif ?>>停用
                        </label>
                    </div>
            </div>

     </div>
       <!-- tab-1 end -->
        <div class="form-item cf">
            <input type="hidden" name="id" value="<?= $data['id'] ?>">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
            <a href="{:U('item/spec',['id'=>$data['item_id']])}" class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){

    showTab();
});
</script>
</block>
