<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <div class="main-title cf">
        <h2>
            编辑规格
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">

    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('spec_update')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">
            <div class="form-item cf">
                    <label class="item-label">名称<span class="check-tips">例如：Color</span></label>
                    <div class="controls">
                        <input type="text" value="<?= $data['name'] ?>" name="name" class="text input-large">
                    </div>
            </div>

      <!--       <div class="form-item cf">
                    <label class="item-label">规格参数<span class="check-tips">(多个用英文,号 分割)</span></label>
                    <div class="controls">
                        <input type="text" value="" name="spec" class="text input-large">  </div>
                </div> -->
<br><br>
                <div class="form-item cf">
                    <label class="item-label">规格参数<span class="check-tips">(文字+图片 文字为空提交后删除对应图片)</span></label>
                    <div class="controls">

                                              <div class="controls">
                                                 <input type="text" value="<?= $spec[0]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_0">
                                    <input type="hidden" name="picture_0" id="picture_0" value="<?= $spec_img[0] ?>"/>
                                    <div class="upload-img-box">
                                        <notempty name="img[0]">
                                        <div class="upload-pre-item"><img src="<?= $img[0] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                            <div class="controls">
                            <input type="text" value="<?= $spec[1]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_1">
                                    <input type="hidden" name="picture_1" id="picture_1" value="<?= $spec_img[1]?>"/>
                                    <div class="upload-img-box">
                                        <notempty name="img[1]">
                                        <div class="upload-pre-item"><img src="<?= $img[1] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                      <div class="controls">
                      <input type="text" value="<?= $spec[2]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_2">
                                    <input type="hidden" name="picture_2" id="picture_2" value="<?= $spec_img[2]?>"/>
                                    <div class="upload-img-box">
                                     <notempty name="img[2]">
                                        <div class="upload-pre-item"><img src="<?= $img[2] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                         <div class="controls">
                         <input type="text" value="<?= $spec[3]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_3">
                                    <input type="hidden" name="picture_3" id="picture_3" value="<?= $spec_img[3] ?>"/>
                                    <div class="upload-img-box">
                                   <notempty name="img[3]">
                                        <div class="upload-pre-item"><img src="<?= $img[3] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                          <div class="controls">
                          <input type="text" value="<?= $spec[4]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_4">
                                    <input type="hidden" name="picture_4" id="picture_4" value="<?= $spec_img[4]?>"/>
                                    <div class="upload-img-box">
                                     <notempty name="img[4]">
                                        <div class="upload-pre-item"><img src="<?= $img[4] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                        <div class="controls">
                        <input type="text" value="<?= $spec[5]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_5">
                                    <input type="hidden" name="picture_5" id="picture_5" value="<?= $spec_img[5]?>"/>
                                    <div class="upload-img-box">
                                      <notempty name="img[5]">
                                        <div class="upload-pre-item"><img src="<?= $img[5] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

     <div class="controls">
                          <input type="text" value="<?= $spec[6]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_6">
                                    <input type="hidden" name="picture_6" id="picture_6" value="<?= $spec_img[6]?>"/>
                                    <div class="upload-img-box">
                                    <notempty name="img[6]">
                                        <div class="upload-pre-item"><img src="<?= $img[6] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                           <div class="controls">
                            <input type="text" value="<?= $spec[7]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_7">
                                    <input type="hidden" name="picture_7" id="picture_7" value="<?= $spec_img[7]?>"/>
                                    <div class="upload-img-box">
                                    <notempty name="img[7]">
                                        <div class="upload-pre-item"><img src="<?= $img[7] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>

                           <div class="controls">
                            <input type="text" value="<?= $spec[8]?>" name="spec[]" class="text input">
                                    <input type="file" id="upload_picture_8">
                                    <input type="hidden" name="picture_8" id="picture_8" value="<?= $spec_img[8]?>"/>
                                    <div class="upload-img-box">
                                    <notempty name="img[8]">
                                        <div class="upload-pre-item"><img src="<?= $img[8] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>



                        <script type="text/javascript">
                                                                        /* 初始化上传插件 */
                            $("#upload_picture_0").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_0
                                });

                                function uploadPicture_0(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_0").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_0").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                      /* 初始化上传插件 */
                            $("#upload_picture_1").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_1
                                });

                                function uploadPicture_1(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_1").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_1").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }
                                          /* 初始化上传插件 */
                            $("#upload_picture_2").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_2
                                });

                                function uploadPicture_2(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_2").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_2").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_3").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_3
                                });

                                function uploadPicture_3(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_3").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_3").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_4").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_4
                                });

                                function uploadPicture_4(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_4").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_4").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                                /* 初始化上传插件 */
                            $("#upload_picture_5").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_5
                                });

                                function uploadPicture_5(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_5").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_5").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                    /* 初始化上传插件 */
                            $("#upload_picture_6").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_6
                                });

                                function uploadPicture_6(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_6").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_6").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                    /* 初始化上传插件 */
                            $("#upload_picture_7").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_7
                                });

                                function uploadPicture_7(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_7").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_7").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }

                                    /* 初始化上传插件 */
                            $("#upload_picture_8").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_8
                                });

                                function uploadPicture_8(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#picture_8").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#picture_8").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }


                        </script>

            <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="radio">
                                <input type="radio" name="status" value="1" <?php if ($data['status'] == 1): ?>checked<?php endif ?>>启用
                        </label>
                        <label class="radio">
                                <input type="radio" name="status" value="0" <?php if ($data['status'] == 0): ?>checked<?php endif ?>>停用
                        </label>
                    </div>
            </div>

     </div>
       <!-- tab-1 end -->
        <div class="form-item cf">
            <input type="hidden" name="id" value="<?= $data['id'] ?>">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
            <a href="{:U('item/spec',['id'=>$data['item_id']])}" class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){

    showTab();
});
</script>
</block>
