<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<style type="text/css">
img{
 max-height:4rem
}
.map{
  height: 4rem
}
</style>

   <div class="page-scroll">
      <div class="contact-us-page">
        <div class="top-banner">
          <p>Contact Us</p>
        </div>

        <div class="contact-details">
          <h5>Contact Details</h5>
          <p>Please find below contact details and contact us today!</p>
          <div class="list">
            <dl>
              <dt><i class="icon-global bg-5"></i></dt>
              <dd><span>Address</span><?= $contact['address'] ?></dd>
            </dl>
            <dl>
              <dt><i class="icon-global bg-6"></i></dt>
              <dd><span>Call US:</span><?= $contact['call'] ?></dd>
            </dl>
            <dl>
              <dt><i class="icon-global bg-7"></i></dt>
              <dd><span>Mail US:</span><?= $contact['email'] ?></dd>
            </dl>
            <dl>
              <dt><i class="icon-global bg-8"></i></dt>
              <dd><span>Opening Time:</span><?= $contact['time'] ?></dd>
            </dl>
          </div>
          <div class="map" id="map">
          </div>
        </div>
      </div>

  <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
  <script src="https://webapi.amap.com/maps?v=1.4.13&key="></script>
  <script>
    //初始化地图
    var map = new AMap.Map('map', {
      resizeEnable: true,
      center: [<?= $contact['longitude'] ?>, <?= $contact['latitude'] ?>],
      zoom: 14,
      lang: "en" //可选值：en，zh_en, zh_cn
    });
    var lnglat = [<?= $contact['longitude'] ?>, <?= $contact['latitude'] ?>];
    var m1 = new AMap.Marker({
        position: lnglat
    });
    map.add(m1);
  </script>
<include file="Public/footer" />

