<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>

<div class="page-scroll">

    <div class="shop-products-page">
      <div class="column">
      <div class="nav-list">
              <?php foreach ($data as $key => $value): ?>
             <a <?php if ($id == $value['id'] ): ?>class="cur"<?php endif ?> href="{:U('About/policy?id='.$value['id'])}"><?= $value['title'] ?></a>
            <?php endforeach ?>
            </div>
      </div>
    </div>
<div class="about-us-page">
        <div class="text">
             <?= $info['content'] ?>
        </div>
</div>

<include file="Public/footer" />