<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<div class="page-scroll">
      
      <div class="change-password-page">
        <h5>Change Password</h5>
          <form class="login-form form-horizontal" action="__SELF__" method="post">
        <div class="list">
          <div class="item">
            <i class="icon-global bg-9"></i>
            <input type="password" placeholder="Old password"  name="old">
          </div>
          <div class="item">
            <i class="icon-global bg-9"></i>
            <input type="password"  placeholder="New password" name="password">
          </div>
          <div class="item">
            <i class="icon-global bg-9"></i>
            <input type="password"  placeholder="Confirm New Passwor" name="repassword">
          </div>
        </div>
        <input type="submit" value="CHANGE PASSWORD">
          </form>
      </div>
  <script type="text/javascript">
      $(document)
        .ajaxStart(function(){
          $("button:submit").addClass("log-in").attr("disabled", true);
        })
        .ajaxStop(function(){
          $("button:submit").removeClass("log-in").attr("disabled", false);
        });

      $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          layer.msg(data.info);
          if(data.status){
            window.location.href = "logout.html";
          }
        }
      });
  </script>
<include file="Public/footer" />