<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<script type="text/javascript" src="__STATIC__/webuploader.min.js"></script>
<style>
    .webuploader-element-invisible{display:none}
</style>
 <div class="page-scroll">

      <div class="member-page">
        <div class="member">
          <div class="avator" id="localImag"><img id="head_icon_img" src="<?= $data['head_icon'] ? $data['head_icon'] : '__IMG__/17.png' ?>"></div>
          <p>Welcome, <a class="c-green" href="javascript:;"><?= session('user_auth')['username']?></a></p>
        </div>
        <div class="nav-list">
          <a href="javascript:;"><i class="icon-global bg-13"></i>Personal information</a>
          <a href="{:U('inquiry')}"><i class="icon-global bg-13"></i>My inquiry</a>
          <a href="{:U('collection')}"><i class="icon-global bg-13"></i>My collection</a>
          <a href="{:U('comment')}"><i class="icon-global bg-13"></i>My comment</a>
          <a href="{:U('changepassword')}"><i class="icon-global bg-13"></i>Change Password</a>
        </div>
        <form class="login-form form-horizontal" action="index.html" method="post">
         <input type="hidden" name="head_icon" id="head_icon" value="<?= $data['head_icon']?>">
        <div class="form">

          <div class="item">
            <h6>Gender</h6>
           <select name="sex">
                    <option value="1" <?php if ($data['sex'] == 1): ?>selected<?php endif ?>>male</option>
                    <option value="2" <?php if ($data['sex'] == 2): ?>selected<?php endif ?>>female</option>
            </select>
          </div>

          <div class="item">
            <h6>Phone Number</h6>
            <input type="text" name="phone" value="<?= $data['phone']?>">
          </div>
          <div class="item">
            <h6>Date of birth</h6>
           <input type="date" class="time" name="birthday" value="<?= $data['birthday'] ? $data['birthday'] : '2000-01-01'?>">
          </div>
          <div class="item">
            <h6>Country</h6>
             <select name="country">
                    <?php foreach ($country as $key => $value): ?>
                         <option value="<?= $value['name']?>" <?php if ($value['name'] == $data['country'] ): ?>selected<?php endif ?>><?= $value['name']?></option>
                    <?php endforeach ?>
                    </select>
          </div>
          <input type="submit" value="Submit" class="ajax-post" target-form="form-horizontal">
        </div>
        </form>
      </div>

<script type="text/javascript">
    $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          if(data.status){
            layer.msg(data.info,{anim: 1},function(){
                 window.location.href = data.url;
            })
          } else {
            alert(data.info)
          }
        }
      });

            var uploader = WebUploader.create({
            auto: true,
            swf: ' __STATIC__ /js/common/Uploader.swf',
            server:"{:U('public/img')}",
            pick: '#localImag',
            fileSingleSizeLimit:2*1024*1024,
            // 只允许选择图片文件。
            duplicate:true,
            accept: {
                title: 'Images',
                extensions: 'jpg,jpeg,png',
                mimeTypes: 'image/gif,image/jpeg,image/jpg,image/jpg,image/png'
            }
        });

    //验证文件格式以及文件大小
    uploader.on("error",function (type){
        if (type == "Q_TYPE_DENIED"){
             layer.msg('Please upload pictures in jpg, jpeg, png format');

        }else if(type =="F_EXCEED_SIZE"){
              layer.msg('Please upload the internal picture within 2M');
        }
    });


    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {

    });


 // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file,response ) {
             if(response.status == 1){
                $("#head_icon_img").attr('src',response.data);
                $("#head_icon").val(response.data);
            }else{
               layer.msg(response.msg);
            }
    });

      // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
         layer.msg('Upload failure');
    });
</script>

<include file="Public/footer" />