<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
  <div class="page-scroll">

      <div class="inquiry-page">
        <div class="list" id="list">
        <?php foreach ($list as $key => $value): ?>
          <div class="item">
            <div class="pic"><a href="{:U('Item/detail?id='.$value['item_id'])}"><img src="<?= $value['path']?>"></a></div>
            <div class="info">
              <div class="order-id">Order ID: <a href="{:U('User/inquirydetail?id='.$value['id'])}}">#<?= $value['orderno']?></a></div>
              <div class="name"><a href="{:U('Item/detail?id='.$value['item_id'])}"><?= $value['name']?></a></div>
              <div class="price">$<?= $value['total']?></div>
            </div>
          </div>
       <?php endforeach ?>
        </div>
          <?php if ($more == 1): ?>
          <a href="javascript:;" class="loadmore">MORE+</a>
          <?php endif ?>
      </div>
    <script>
    $(".loadmore").click(function(){
          $.ajax({
                url:"moreinquiry.html",
                type: "post",
                dataType: "JSON",
                success: function (json) {
                      $("#list").append(json.data);
                      $(".loadmore").hide();
            }
        });
    })
  </script>
<include file="Public/footer" />