<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>

 <div class="page-scroll">

      <div class="sing-page">
        <div class="contain sign-in"  <?php if ($login==1): ?>style="display:block"<?php endif ?>>
          <form class="login-form form-horizontal-login" action="login.html" method="post">
          <h5>Log in to I WILL</h5>
          <div class="list">
            <div class="item">
              <i class="icon-global bg-9"></i>
              <input type="text" placeholder="Emial or username"  name="username" maxlength="100">
            </div>
            <div class="item">
              <i class="icon-global bg-10"></i>
              <input type="password" placeholder="Password" name="password" maxlength="30">
              <input type="submit" value="Log in" class="ajax-post" target-form="form-horizontal-login">
              <div class="text">
                <p>
                  <label><input type="checkbox"><span class="simulate"></span><span class="name">Remember me</span></label>
                </p>
                <p>Don't have a I WILL account yet? <br /><a class="c-green" href="javascript:;" onclick="switchFn(0);">Create your account now</a></p>
              </div>
            </div>
          </div>
             </form>
        </div>


        <div class="contain sign-up"  <?php if ($login==1): ?>style="display:none"<?php endif ?>>
           <form class="login-form-register form-horizontal" action="register.html" method="post">
          <h5>Create Account</h5>
          <div class="list">
            <div class="item">
              <i class="icon-global bg-9"></i>
              <input type="text" placeholder="Emial or username" name="username" maxlength="100">
            </div>
            <div class="item">
              <i class="icon-global bg-10"></i>
              <input type="password" placeholder="Password" name="password"  maxlength="30">
              <input type="submit" value="register" class="ajax-post" target-form="form-horizontal-register">
              <div class="text">
                <p>
                  <label><input type="checkbox"><span class="simulate"></span><span class="name">you agree to the Terms of Use and Privacy Policy.</span></label>
                </p>
                <p><a class="c-green underline" href="javascript:;" onclick="switchFn(1);">Sign in &gt;</a></p>
              </div>
            </div>
          </div>
        </div>
         </form>
      </div>

<script>
  $(function () {
    $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          if(data.status){
              layer.msg(data.info,{anim: 1},function(){
                   var url = "<?= $_GET['uri'] ?>" ? "<?= $_GET['uri'] ?>" : data.url;
                 window.location.href = url;
            })
          } else {
            layer.msg(data.info)
          }
        }
      });
  })

    function switchFn(type) {
      if (type) {
        // 登录
        $('.sign-up').slideUp(300, function () {
          $('.sign-in').slideDown()
        })
      } else {
        // 注册
        $('.sign-in').slideUp(300, function () {
          $('.sign-up').slideDown()
        })
      }
    }
</script>
<include file="Public/footer" />