<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[title]</title>
    <meta name="keywords" content="[keywords]" />
    <meta name="description" content="[description]" />
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/global.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="__JS__/global.js"></script>
    <script src="__JS__/jquery.SuperSlide.2.1.3.js"></script>
    <link href="https://cdn.bootcss.com/aos/2.3.4/aos.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/aos/2.3.4/aos.js"></script>
</head>
<body>