<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/master.css">

<script src="http://ditu.google.cn/maps/api/js?key=&language=en"></script>

  <div class="top-header">
    <p data-aos="flip-left"><span>Contact Us</span></p>
  </div>

  <div class="contact-us-page wrapper">
    <div class="clearfix">
      <div class="contact-detail">
        <h4>Contact Details</h4>
        <p>Please find below contact details and contact us today!</p>
        <div class="info">
          <h5>Corporate Office?</h5>
          <div class="list">
            <div class="item">
              <i class="icon-global bg-20"></i>
              <span>Address</span>
              <?= $contact['address'] ?>
            </div>
            <div class="item">
              <i class="icon-global bg-21"></i>
              <span>Call US:</span><br />
               <?= $contact['call'] ?>
            </div>
            <div class="item">
              <i class="icon-global bg-22"></i>
              <span>Mail US:</span><br />
            <a href="mailto:<?= $contact['email'] ?>"><?= $contact['email'] ?></a>
            </div>
            <div class="item">
              <i class="icon-global bg-20"></i>
              <span>Opening Time:</span><br />
             <?= $contact['time'] ?>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-map">
        <div class="map" id="map" style="width: 100%;height:100%"></div>
      </div>
    </div>
  </div>
<script type="text/javascript">
var mapType = google.maps.MapTypeId.ROADMAP;
var lat = <?= $contact['latitude'] ?>, lng = <?= $contact['longitude'] ?>, zoom = 15;
var mapOptions = {
    center: new google.maps.LatLng(lat, lng),  //地图的中心点
    zoom: zoom,               　　　　　　　　　　//地图缩放比例
    mapTypeId: mapType,       　　　　　　　　　　//指定地图展示类型：卫星图像、普通道路
    scrollwheel: true          　　　　　　　　　 //是否允许滚轮滑动进行缩放
};
var map = new google.maps.Map(document.getElementById("map"), mapOptions); //创建谷歌地图

var marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng(lat, lng)
});
</script>
<include file="Public/footer" />