<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/master.css">

  <div class="top-header">
    <p data-aos="flip-left"><span>Contact Us</span></p>
  </div>

  <div class="contact-us-page wrapper">
    <div class="clearfix">
      <div class="contact-detail">
        <h4>Contact Details</h4>
        <p>Please find below contact details and contact us today!</p>
        <div class="info">
          <h5>Corporate Office?</h5>
          <div class="list">
            <div class="item">
              <i class="icon-global bg-20"></i>
              <span>Address</span>
              <?= $contact['address'] ?>
            </div>
            <div class="item">
              <i class="icon-global bg-21"></i>
              <span>Call US:</span><br />
               <?= $contact['call'] ?>
            </div>
            <div class="item">
              <i class="icon-global bg-22"></i>
              <span>Mail US:</span><br />
            <a href="mailto:<?= $contact['email'] ?>"><?= $contact['email'] ?></a>
            </div>
            <div class="item">
              <i class="icon-global bg-20"></i>
              <span>Opening Time:</span><br />
             <?= $contact['time'] ?>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-map">
        <div class="map" id="map" style="width: 100%;height:100%"></div>
      </div>
    </div>
  </div>
  <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
  <script src="https://webapi.amap.com/maps?v=1.4.13&key="></script>
  <script>
    //初始化地图
    var map = new AMap.Map('map', {
      resizeEnable: true,
      center: [<?= $contact['longitude'] ?>, <?= $contact['latitude'] ?>],
      zoom: 14,
      lang: "en" //可选值：en，zh_en, zh_cn
    });
    var lnglat = [<?= $contact['longitude'] ?>, <?= $contact['latitude'] ?>];
    var m1 = new AMap.Marker({
        position: lnglat
    });
    map.add(m1);
  </script>
<include file="Public/footer" />