<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}
        .uploadify-button-text{display: none}
    </style>
</block>

<block name="body">
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
       <!-- 插件块 -->
<br>
<br>
<br>
<br>
    <div class="columns-mod">
        <div class="hd cf">
            <h5>环境检测</h5>
            <div class="title-opt">
            </div>
        </div>
        <div class="bd">
            <div class="sys-info">
                <table>
                    <tr> <!-- <th>服务器操作系统</th><td>{$Think.const.PHP_OS}</td> --></tr>
                <!--    <tr><th>ThinkPHP版本</th><td>{$Think.VERSION}</td></tr> -->
                    <tr><!-- <th>运行环境</th><td>{$_SERVER['SERVER_SOFTWARE']}</td> --></tr>
                    <tr><!-- <th>MYSQL版本</th><php>$system_info_mysql = M()->query("select version() as v;");</php>
                        <td>{$system_info_mysql.0.v}</td> -->
                    </tr>
                    <tr>
                        <th>上传限制：{:ini_get('upload_max_filesize')}</td>
                    </tr>
                    <tr>
                        <th>FLASH功能：
                        <span id="FLASHTips">支持</span>
                    </th>
                    </tr>
                    <tr>
                        <th>发件邮箱：
<?php if (empty($data['address'])): ?>
                        无 <a  class="btn" href="{:U('message/add')}">设置发件邮箱</a>
<?php else: ?>
                       <?= $data['address'] ?>
<?php endif ?>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
 <input type="file" id="upload_picture_FLASH" style="display: none">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
                $("#upload_picture_FLASH").uploadify({
                        "height"          : 0,
                        "swf"             : "__STATIC__/uploadify/uploadify.swf",
                        "fileObjName"     : "download",
                        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                        "width"           : 120,
                        'removeTimeout'   : 1,
                        'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                        'onFallback' : function() {
                            $('#FLASHTips').html('<span style="color:red">请启用Flash功能或更换支持Flash功能的浏览器</span>');
                        }
                    });

</script>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    /* 插件块关闭操作 */
    $(".title-opt .wm-slide").each(function(){
        $(this).click(function(){
            $(this).closest(".columns-mod").find(".bd").toggle();
            $(this).find("i").toggleClass("mod-up");
        });
    })
    $(function(){
        // $('#main').attr({'id': 'indexMain','class': 'index-main'});
        $('.copyright').html('<div class="copyright"> ©2018-2019 版权所有</div>');
        $('.sidebar').remove();
    })
</script>
</block>