<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">关于我们</a></li>
        <li data-tab="tab2" class=""><a href="{:U('index')}">我的团队</a></li>
        </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('update_about')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">
           <div class="form-item cf">
                    <label class="item-label">标题<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" value="<?= $data['title'] ?>" name="title" class="text input-large">                    </div>
                </div>

                <div class="form-item cf">
                    <label class="item-label">图片<span class="check-tips"></span></label>
                    <div class="controls">
                        <div class="controls">
                                    <input type="file" id="upload_picture_1">
                                    <input type="hidden" name="img" id="img" value="<?= $data['img'] ?>"/>
                                    <div class="upload-img-box">
                                    <notempty name="data['img_path']">
                                        <div class="upload-pre-item"><img src="<?= $data['img_path'] ?>"/></div>
                                    </notempty>
                                    </div>
                        </div>
                        <script type="text/javascript">
                            /* 初始化上传插件 */
                            $("#upload_picture_1").uploadify({
                                    "height"          : 30,"swf"             : "__STATIC__/uploadify/uploadify.swf",
                                    "fileObjName"     : "download", "buttonText"      : "上传图片",
                                   "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                                    "width"           : 120,'removeTimeout'   : 1,
                                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                                    "onUploadSuccess" : uploadPicture_1
                                });

                                function uploadPicture_1(file, data){
                                    var data = $.parseJSON(data);
                                    var src = '';
                                    if(data.status){
                                        $("#img").val(data.id);
                                        src = data.url || '' + data.path
                                        $("#img").parent().find('.upload-img-box').html(
                                          '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                        );
                                    } else {
                                        updateAlert(data.info);
                                        setTimeout(function(){
                                            $('#top-alert').find('button').click();
                                            $(that).removeClass('disabled').prop('disabled',false);
                                        },1500);
                                    }
                                }
                        </script>
                        </div>
                </div>


        <div class="form-item cf">
            <label class="item-label">内容<span class="check-tips"></span></label>
            <div class="controls">
            <label class="textarea">
            <textarea name="content" style="display: none;"><?= $data['content'] ?></textarea>
            <input type="hidden" value="0" name="parse">
            <link href="/Public/static/kindeditor/default/default.css" rel="stylesheet">
            <script src="/Public/static/kindeditor/kindeditor-min.js" charset="utf-8"></script>
            <script src="/Public/static/kindeditor/zh_CN.js" charset="utf-8"></script>
            <script type="text/javascript">
                       var editor_content;
                KindEditor.ready(function(K) {
                    editor_content = K.create('textarea[name="content"]', {
                        allowFileManager : false,
                        themesPath: K.basePath,
                        width: '100%',
                        height: '500px',
                        resizeType: 1,
                        pasteType : 2,
                        urlType : 'absolute',
                        fileManagerJson : '{:U('fileManagerJson')}',
                        uploadJson : '{:addons_url("EditorForAdmin://Upload/ke_upimg")}',
                        extraFileUploadParams: {
                             session_id : '{:session_id()}'
                        }
                    });
                });

                $(function(){
                    //传统表单提交同步
                    $('textarea[name="content"]').closest('form').submit(function(){
                        editor_content.sync();
                    });
                    //ajax提交之前同步
                    $('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
                        editor_content.sync();
                    });
                })
            </script>
                    </label>
                </div>
            </div>


     </div>
       <!-- tab-1 end -->

        <div class="form-item cf">
        <input type="hidden" name="id" value="2">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">

<script type="text/javascript">

$('#submit').click(function(){
    $('#form').submit();
});

</script>
</block>
