<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/passport.css">

  <div class="change-password-page">
    <h2 data-aos="fade-up">Change Password</h2>
    <form class="login-form form-horizontal" action="__SELF__" method="post">
    <div class="form-list">
      <div class="item" data-aos="fade-up" data-aos-delay="100">
        <dl>
          <dt>Old password</dt>
          <dd> <input type="password" placeholder="Please input Old password"  name="old"><i class="icon-global bg-14"></i></dd>
        </dl>
      </div>
      <div class="item" data-aos="fade-up" data-aos-delay="200">
        <dl>
          <dt>New password</dt>
          <dd>  <input type="password"  placeholder="Please input password" name="password"><i class="icon-global bg-14"></i></dd>
        </dl>
      </div>
      <div class="item" data-aos="fade-up" data-aos-delay="300">
        <dl>
          <dt>Confirm New Passwor</dt>
          <dd><input type="password"  placeholder="Please input  Confirm New Passwor" name="repassword"><i class="icon-global bg-14"></i></dd>
        </dl>
      </div>
      <div class="item" data-aos="fade-up" data-aos-delay="400">
        <dl>
          <dd><input type="submit" value="CHANGE PASSWORD"></dd>
        </dl>
      </div>
          </form>
    </div>
  </div>
  <script type="text/javascript">
      $(document)
        .ajaxStart(function(){
          $("button:submit").addClass("log-in").attr("disabled", true);
        })
        .ajaxStop(function(){
          $("button:submit").removeClass("log-in").attr("disabled", false);
        });

      $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          layer.msg(data.info);
          if(data.status){
            window.location.href = "logout.html";
          }
        }
      });
  </script>
<include file="Public/footer" />