
<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/layout.css">

  <div class="header-box"></div>

  <div class="layout-two-col">
    <div class="wrapper clearfix">
      <div class="sideNav">
        <ul>
          <li><a  href="{:U('index')}"><i class="icon-global bg-4"></i>Personal information</a></li>
          <li><a class="active" href="javascript:;"><i class="icon-global bg-4"></i>My inquiry</a></li>
          <li><a href="{:U('collection')}"><i class="icon-global bg-4"></i>My collection</a></li>
          <li><a href="{:U('comment')}"><i class="icon-global bg-4"></i>My comment</a></li>
          <li><a href="{:U('changepassword')}"><i class="icon-global bg-4"></i>Change Password</a></li>
        </ul>
      </div>
      <div class="contain">
        <div class="comment-page">
          <h4>My inquiry</h4>
          <div class="list">
            <table>
                <thead>
                  <tr>
                    <th>Commodity</th>
                    <th>Order ID</th>
                    <th>Amount</th>
                    <th>Operating</th>
                  </tr>
                </thead>
                <tbody>
                <?php foreach ($data as $key => $value): ?>
                  <tr>
                    <td class="pro clearfix">
                      <div class="pic"><a href="{:U('Item/detail?id='.$value['item_id'])}"><img src="<?= $value['path']?>"></a></div>
                      <div class="name <?php if (get_unread_msg($value['id'])): ?>unread<?php endif ?>" title="<?= $value['name']?>"><a href="{:U('Item/detail?id='.$value['item_id'])}"><?= $value['name']?></a></div>
                    </td>
                    <td class="order-id"><a href="{:U('User/inquirydetail?id='.$value['id'])}}">#<?= $value['orderno']?></a></td>
                    <td class="amount">
                      $<?= $value['total']?>
                    </td>
                    <td class="operating">
                      <a href="{:U('User/inquirydetail?id='.$value['id'])}">See details</a>
                    </td>
                  </tr>
                 <?php endforeach ?>
                </tbody>
            </table>
          </div>
          <div class="paging">
             <?= $_page ?>
          </div>
        </div>
      </div>
    </div>
  </div>

<include file="Public/footer" />