<include file="Public/head" title="{$info.title}" keywords="{$info.keywords}" description="{$info.description}"/>
<link rel="stylesheet" href="__CSS__/passport.css">

  <div class="sign-page">
  <form class="login-form form-horizontal-login" action="login.html" method="post">
    <div class="sign-contain signIn" data-aos="flip-left" <?php if ($register==1): ?>style="display:none"<?php endif ?>>
      <h2>Log in to I WILL </h2>
      <div class="form-list">
        <div class="item p-top-15">
          <dl>
            <dd><input type="text" placeholder="Emial or username" name="username" maxlength="100"><i class="icon-global bg-15"></i></dd>
          </dl>
        </div>
        <div class="item p-top-15">
          <dl>
            <dd><input type="password" placeholder="Password" name="password" maxlength="30"><i class="icon-global bg-14"></i></dd>
          </dl>
        </div>
        <div class="item">
          <dl>
            <dd><a class="forgot" href="changePassword.html">Forgot password?</a></dd>
          </dl>
        </div>
        <div class="item">
          <dl>
            <dd><input type="submit" value="Log in" class="ajax-post" target-form="form-horizontal-login"></dd>
          </dl>
        </div>
        <div class="item">
          <dl>
            <dd>

              <label><input type="checkbox" name="remember">Remember me</label>
            </dd>
          </dl>
        </div>
        </form>
        <div class="item">
          <dl>
            <dd>
              <p>
                Don't have a I WILL account yet? <br />
                <a class="toRegister" href="javascript:;">Create your account now</a>
              </p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="sign-contain register" data-aos="flip-right" <?php if ($register==1): ?>style="display:block"<?php endif ?>>
       <form class="login-form-register form-horizontal" action="register.html" method="post">
        <h2>Create Account</h2>
        <div class="form-list">
          <div class="item p-top-15">
            <dl>
              <dd><input type="text" placeholder="Emial or username" name="username" maxlength="100"><i class="icon-global bg-15"></i></dd>
            </dl>
          </div>
          <div class="item p-top-15">
            <dl>
              <dd><input type="password" placeholder="Password" name="password"  maxlength="30"><i class="icon-global bg-14"></i></dd>
            </dl>
          </div>
          <div class="item">
            <dl>
              <dd><input type="submit" value="REGISTER" class="ajax-post" target-form="form-horizontal-register"></dd>
            </dl>
          </div>
          <div class="item">
            <dl>
              <dd><label><input type="checkbox" name="agree" checked>you agree to the Terms of Use and Privacy Policy.</label></dd>
            </dl>
          </div>
          </form>
          <div class="item">
            <dl>
              <dd>
                <a class="toSignIn" href="javascript:;">Sign in &gt;</a>
              </dd>
            </dl>
          </div>
        </div>
    </div>
  </div>

<script>
    $(function () {
      $('.toRegister').click(function () {
        $('.signIn').removeClass('aos-animate')
        $('.register').removeClass('aos-animate')
        setTimeout(function() {
          $('.signIn').hide()
          $('.register').show()
          setTimeout(function () {
            $('.register').addClass('aos-animate')
          }, 30)
        }, 500)
      })

      $('.toSignIn').click(function () {
        $('.register').removeClass('aos-animate')
        $('.signIn').removeClass('aos-animate')
        setTimeout(function() {
          $('.register').hide()
          $('.signIn').show()
          setTimeout(function () {
            $('.signIn').addClass('aos-animate')
          }, 30)
        }, 500)
      })

    $("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
          if(data.status){
              layer.msg(data.info,{anim: 1},function(){
                 var url = "<?= $_GET['uri'] ?>" ? "<?= $_GET['uri'] ?>" : data.url;
                 window.location.href = url;
            })
          } else {
            layer.msg(data.info)
          }
        }
      });

  })
</script>
<include file="Public/footer" />