<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script src="/Public/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <div class="main-title cf">
        <h2>
            新增
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">内容</a></li>
        </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form class="form-horizontal" method="post" action="{:U('update')}" id="form">
    <!-- tab-1 start -->
    <div class="tab-pane tab1 in" id="tab1">

           <div class="form-item cf">
                    <label class="item-label">标题</label>
                    <div class="controls">
                        <input type="text" value="" name="title" class="text input-large">
                    </div>
            </div>

               <div class="form-item cf">
                    <label class="item-label">链接</label>
                    <div class="controls">
                        <input type="text" value="" name="url" class="text input-large">
                    </div>
            </div>

    <div class="form-item cf">
                    <label class="item-label">内容</label>
                    <div class="controls">
                     <textarea name="content" rows="8" cols="140"></textarea>
                    </div>
            </div>

               <div class="form-item cf">
                    <label class="item-label">排序<span class="check-tips">数字越大越前，默认按发布倒序</span></label>
                    <div class="controls">
                        <input type="text" value="" name="level" class="text input-large">                    </div>
                </div>

     </div>
       <!-- tab-1 end -->

        <div class="form-item cf">
            <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">确 定</button>
            <a href="{:U('promotion/index')}" class="btn btn-return">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

</script>
</block>
